<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">

  <title>Mightymerce - convert followers into customers</title>
  <meta name="description" content="Looking for an easy way to sell your products. Join Migthymerce and start using your networks to convert your followers into customers.">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{displayName}}">
  <meta property="og:title" content="{{productTitle}}">
  <meta property="og:description" content="{{productDescription}}">
  <meta property="og:url" content="{{checkoutURL}}">
  <meta property="og:image" content="{{productMainImageURLFacebook}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{productTitle}}">
  <meta name="twitter:description" content="{{productDescription}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Pinterest META -->
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ productTitle }}">
  <meta property="og:description" content="{{ productDescription }}">
  <meta property="og:url" content="{{checkoutURL}}" />
  <meta property="og:price:amount" content="{{productPrice}}">
  <meta property="og:price:currency" content="{{productCurrency}}">
  <meta property="og:availability" content="instock">
  <meta property="og:site_name" content="{{displayName}}">

  <!-- Open Sans Font-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Favicon and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../../modules/users/client/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../../modules/users/client/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../../modules/users/client/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../../../../modules/users/client/assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- Fix for old browsers
  <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
  <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
-->
  <!-- Main Inspinia CSS files
  <link href="css/animate.css" rel="stylesheet">
  <link id="loadBefore" href="css/style.css" rel="stylesheet">-->

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
    ></script>

  <style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
    canvas {
      background-color: #f3f3f3;
      -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
      -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
      box-shadow: 3px 3px 3px 0 #e3e3e3;
      border: 1px solid #c3c3c3;
      height: 100px;
      margin: 6px 0 0 6px;
    }
  </style>

</head>

<body class="top-navigation">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {

 /*
    // init the FB JS SDK Mightymerce Test
    FB.init({
      appId      : '1679730548952270',                        // App ID from the app dashboard
      channelUrl : '../../modules/products/client/views/channel.html', // Channel file for x-domain comms
      version    : 'v2.5',
      xfbml      : true                                  // Look for social plugins on the page
    });



    // init the FB JS SDK Migthymerce Dev
    FB.init({
      appId      : '1683578941900764',                        // App ID from the app dashboard
      channelUrl : '../../modules/products/client/views/channel.html', // Channel file for x-domain comms
      version    : 'v2.5',
      xfbml      : true                                  // Look for social plugins on the page
    });

*/




    // init the FB JS SDK Migthymerce Prod
    FB.init({
      appId      : '1679726155619376',                        // App ID from the app dashboard
      version    : 'v2.5',
      xfbml      : true                                  // Look for social plugins on the page
    });

    


    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  window.pAsyncInit = function() {
    PDK.init({
      appId: "4812033700508215603", // Change this
      cookie: true
    });
  };

  (function(d, s, id){
    var js, pjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//assets.pinterest.com/sdk/sdk.js";
    pjs.parentNode.insertBefore(js, pjs);
  }(document, 'script', 'pinterest-jssdk'));
</script>


<div id="wrapper">
  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg">

    <!-- Page wrapper -->
    <div ng-hide="navHide"  ng-include="'/modules/core/client/views/header.client.view.html'"></div>

    <!-- Main view  -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <div ng-hide="footHide" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>
  </div>
  <!-- End page wrapper-->
</div>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


  {% endif %}



</body>

</html>
