<!DOCTYPE html>
<html lang="en">
<head ng-app="mean">
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">

  <script> window.prerenderReady = false; </script>

  <base href="/">
  <meta name="fragment" content="!">

  <title>mightymerce | Social Commerce Shop</title>
  <meta name="description" content="Mache deine Follower zu Kunden und verkaufe in deinen sozialen Netzwerken. Jetzt kostenlos starten mit deinem Social Commerce Shop.">
  <meta name="revisit-after" CONTENT="7 days">
  <meta name="keywords" content="Soziale Netzwerke, Follower, buy button, mit Twitter Geld verdienen, Instagram Geld verdienen, socialmedia, mit Instagram Geld verdienen, Geld verdienen mit Facebook, mit Facebook Geld verdienen, onlineShop
Warenkorb
online verkaufen
Sachen online verkaufen
Produkte verkaufen
Produkte online verkaufen
Artikel online verkaufen">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="1679726155619376">
  <meta property="og:site_name" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">

  <!-- Pinterest META -->
  <meta property="og:type" content="product">
  <meta property="product:price:amount" content="">
  <meta property="product:price:currency" content="">
  <meta property="og:brand" content="">
  <meta property="og:availability" content="">

  <!-- Twitter META -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:text:title" content="">
  <meta name="twitter:text:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:label1" content="">
  <meta name="twitter:data1" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">

  <!-- Open Sans Font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet" >

  <!-- Favicon and touch icons -->
  <!--
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../../modules/users/client/assets/ico/mightymerce_Logo_144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../../modules/users/client/assets/ico/mightymerce_Logo_114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../../modules/users/client/assets/ico/mightymerce_Logo_72x72.png">
  <link rel="apple-touch-icon-precomposed" href="../../../../modules/users/client/assets/ico/mightymerce_Logo_57x57.png">
-->

  <link rel="apple-touch-icon" sizes="57x57" href="../../../../modules/users/client/assets/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../../../modules/users/client/assets/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../../../modules/users/client/assets/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../../modules/users/client/assets/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../../../modules/users/client/assets/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../../../modules/users/client/assets/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../../../modules/users/client/assets/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../../../modules/users/client/assets/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../../modules/users/client/assets/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../../../modules/users/client/assets/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../../modules/users/client/assets/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../../../modules/users/client/assets/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../../modules/users/client/assets/ico/favicon-16x16.png">


  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_ddjMazisTUr7jFeihO8C4s7L');
  </script>

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">
    if (window.location.hash == '#_=_'){

      // Check if the browser supports history.replaceState.
      if (history.replaceState) {

        // Keep the exact URL up to the hash.
        var cleanHref = window.location.href.split('#')[0];

        // Replace the URL in the address bar without messing with the back button.
        history.replaceState(null, null, cleanHref);
      } else {
        // Well, you're on an old browser, we can get rid of the _=_ but not the #.
        window.location.hash = '';
      }
    }
  </script>

  <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
    ></script>

  <style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
    canvas {
      background-color: #f3f3f3;
      -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
      -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
      box-shadow: 3px 3px 3px 0 #e3e3e3;
      border: 1px solid #c3c3c3;
      height: 100px;
      margin: 6px 0 0 6px;
    }
  </style>

  <!--   GOOGLE ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67741485-1', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', ['mightymerce.com']);

    ga('send', 'pageview');

  </script>

  <meta name="p:domain_verify" content="afdeba74e48a333623910207b4abc900"/>

</head>

<body class="top-navigation">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    /*
    // init the FB JS SDK Migthymerce Dev
    FB.init({
      appId      : '1683578941900764',                        // App ID from the app dashboard
      //channelUrl : '../../modules/products/client/views/channel.html', // Channel file for x-domain comms
      version    : 'v2.5',
      xfbml      : true                                  // Look for social plugins on the page
    });


    // init the FB JS SDK Mightymerce Test
    FB.init({
      appId      : '1679730548952270',                        // App ID from the app dashboard
      //channelUrl : '../../modules/products/client/views/channel.html', // Channel file for x-domain comms
      version    : 'v2.5',
      xfbml      : true                                  // Look for social plugins on the page
    });
*/

    // init the FB JS SDK Migthymerce Prod
    FB.init({
      appId      : '1679726155619376',                        // App ID from the app dashboard
      //channelUrl : '../../modules/products/client/views/channel.html', // Channel file for x-domain comms
      version    : 'v2.5',
      xfbml      : true                                  // Look for social plugins on the page
    });



    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  window.pAsyncInit = function() {
    PDK.init({
      appId: "4812033700508215603", // Change this
      cookie: true
    });
  };

  (function(d, s, id){
    var js, pjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//assets.pinterest.com/sdk/sdk.js";
    pjs.parentNode.insertBefore(js, pjs);
  }(document, 'script', 'pinterest-jssdk'));
</script>


<div id="wrapper">
  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg">

    <!-- Page wrapper -->
    <div ng-hide="navHide"  ng-include="'/modules/core/client/views/header.client.view.html'"></div>

    <!-- Main view  -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <div ng-hide="footHide" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>
  </div>
  <!-- End page wrapper-->
</div>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script>document.write('<script src="https://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


  {% endif %}



</body>

</html>
