<section ng-controller="CurrencysController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 translate>BREADCRUMB-SHOP-SETTINGS</h2>
      <ol class="breadcrumb">
        <li>
          <span translate>HEADLINE-ACCOUNT-AREA</span>
        </li>
        <li>
          <strong translate>BREADCRUMB-SETTINGS</strong>
        </li>
        <li class="active">
          <strong translate>BREADCRUMB-CURRENCY-CREATE</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <form name="currencyForm" class="form-horizontal" ng-submit="create(currencyForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate>LABEL-CURRENCY-OPTION</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-CURRENCY-CODE</span> *</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="currencyCode" id="currencyCode" class="form-control" placeholder="" required></div>
                <div ng-messages="currencyForm.currencyCode.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-CURRENCY-CODE</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-CURRENCY-VALUE</span> *</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="currencyValue" id="currencyValue" class="form-control" placeholder="" required></div>
                <div ng-messages="currencyForm.currencyValue.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-CURRENCY-VALUE</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="form-group" align="right">
              <button type="submit" class="btn btn-w-m btn-warning" translate>BUTTON-SAVE-CURRENCY</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
</section>
