<section ng-controller="CheckoutsController">
<div class="app app-dock">

  <!-- content -->
  <div id="content" class="app-content m-l-none" role="main">
    <div class="app-content-body ">

      <!-- main -->
      <div class="col">
        <div class="wrapper-md">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel b-a">

                <div class="bg-light lter b-b wrapper-md wrapper-p5" id="belowpicture">
                  <span class="text-muted step-headline">Cancellation</span>
                </div>

                <div class="panel-body wrapper-md">

                  <div class="confirmation">
                    <div class="col-lg-8 col-lg-offset-2">

                      <div class="row">
                        <div class="col-xs-12">
                          <div class="panel b-a text-center thankyou">
                            <p><span>Your checkout request is canceled!</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /cancellation -->

                </div>
                <!-- / panel body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- / content -->

  <!-- footer -->
  <footer id="footer" class="app-footer m-l-none" role="footer">
    <div class="wrapper-lg b-t bg-light text-center clearfix">
      <p>&copy; Dr. Goerg - Premium Coconut Products<br/>
        <a href="http://www.drgoerg.com/">www.drgoerg.com</a></p>

      <div id="footer-nav" role="tablist" aria-multiselectable="true">
        <ul class="navbar-nav nav">
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-imprint" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-imprint">Imprint</a></li>
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-terms" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-terms">Terms &amp; Conditions</a></li>
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-privacy" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-privacy">Privacy Policy</a></li>
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-return" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-return">Return Policy</a></li>
        </ul>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-imprint" role="tabpanel">
            <h4>Imprint</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat libero nec arcu ultricies, eget tempus ligula pellentesque. In hac habitasse platea dictumst. Cras dolor mauris, blandit id accumsan ut, congue sed sem. Curabitur eu tellus sodales, fermentum quam a, hendrerit magna. Suspendisse urna erat, tristique at sapien lacinia, ornare fringilla orci. Duis at feugiat turpis, eu dapibus purus. Nulla ornare nisi eu pellentesque vestibulum. Nam vulputate magna vel luctus mollis. Nulla vitae elit et est lobortis laoreet in non nisl.</div>
        </div>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-terms" role="tabpanel">
            <h4>Terms and Conditions</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat libero nec arcu ultricies, eget tempus ligula pellentesque. In hac habitasse platea dictumst. Cras dolor mauris, blandit id accumsan ut, congue sed sem. Curabitur eu tellus sodales, fermentum quam a, hendrerit magna. Suspendisse urna erat, tristique at sapien lacinia, ornare fringilla orci. Duis at feugiat turpis, eu dapibus purus. Nulla ornare nisi eu pellentesque vestibulum. Nam vulputate magna vel luctus mollis. Nulla vitae elit et est lobortis laoreet in non nisl.</div>
        </div>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-privacy" role="tabpanel">
            <h4>Privacy Policy</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat libero nec arcu ultricies, eget tempus ligula pellentesque. In hac habitasse platea dictumst. Cras dolor mauris, blandit id accumsan ut, congue sed sem. Curabitur eu tellus sodales, fermentum quam a, hendrerit magna. Suspendisse urna erat, tristique at sapien lacinia, ornare fringilla orci. Duis at feugiat turpis, eu dapibus purus. Nulla ornare nisi eu pellentesque vestibulum. Nam vulputate magna vel luctus mollis. Nulla vitae elit et est lobortis laoreet in non nisl.</div>
        </div>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-return" role="tabpanel">
            <h4>Return Policy</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat libero nec arcu ultricies, eget tempus ligula pellentesque. In hac habitasse platea dictumst. Cras dolor mauris, blandit id accumsan ut, congue sed sem. Curabitur eu tellus sodales, fermentum quam a, hendrerit magna. Suspendisse urna erat, tristique at sapien lacinia, ornare fringilla orci. Duis at feugiat turpis, eu dapibus purus. Nulla ornare nisi eu pellentesque vestibulum. Nam vulputate magna vel luctus mollis. Nulla vitae elit et est lobortis laoreet in non nisl.</div>
        </div>
      </div>
    </div>
    <div class="wrapper b-t bg-dark text-center">
      Powered by <a href="#">MightyMerce - www.mightymerce.com - convert followers into customers</a>.
    </div>
  </footer>
  <!-- / footer -->

</div>
  </section>
