<section ng-controller="CheckoutsController" ng-init="loadSuccess()">
<div class="app app-dock">

  <!-- content -->
  <div id="content" class="app-content m-l-none" role="main">
    <div class="app-content-body ">

      <!-- main -->
      <div class="col">
        <div class="wrapper-md">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel b-a">

                <div class="bg-light lter b-b wrapper-md wrapper-p5" id="belowpicture">
                  <span class="text-muted step-headline"><span translate>LABEL-CHECKOUT-SUMMARY</span></span>
                </div>
                <button class="single-price" ng-bind="L_PAYMENTREQUEST_0_AMT0" data-value="{{L_PAYMENTREQUEST_0_AMT0}}" hidden></button>
                <button class="btn m-b-xs w-xs btn-info product-currency" ng-hide="true" ng-bind="currencyCode" data-value="{{currencyCode}}"></button>

                <div class="panel-body wrapper-md">

                  <div class="confirmation">
                    <div class="col-lg-8 col-lg-offset-2">

                      <div class="row">
                        <div class="col-xs-12">
                          <div class="panel b-a text-center agreement">
                            <p><strong><span translate>LABEL-CHECKOUT-THANKS-ORDER</span> {{PAYMENTREQUEST_0_INVNUM}}! <span translate>LABEL-CHECKOUT-CONFIRMATION-SEND-TO</span> {{ordereMAIL}}</strong></p>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12 col-md-6 shipping-address">
                          <h3><span translate>LABEL-SHIPPING-ADDRESS</span></h3>
                          <div class="review-shipping-name">{{PAYMENTREQUEST_0_SHIPTONAME}}</div>
                          <div class="review-shipping-address">{{PAYMENTREQUEST_0_SHIPTOSTREET}}</div>
                          <div class="review-shipping-address">{{PAYMENTREQUEST_0_SHIPTOZIP}}</div>
                          <div class="review-shipping-address">{{PAYMENTREQUEST_0_SHIPTOCITY}}</div>
                          <div class="review-shipping-address">{{PAYMENTREQUEST_0_SHIPTOSTATE}}</div>
                          <div class="review-shipping-address">{{PAYMENTREQUEST_0_SHIPTOCOUNTRYNAME}}</div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <h3><span translate>LABEL-BILLING-ADDRESS</span></h3>
                          <div class="review-shipping-name">{{orderBillToFirstName}} {{orderBillToLastName}}</div>
                          <div class="review-shipping-address">{{orderBillToStreet}}</div>
                          <div class="review-shipping-address">{{orderBillToZip}}</div>
                          <div class="review-shipping-address">{{orderBillToCity}}</div>
                          <div class="review-shipping-address">{{orderBillToState}}</div>
                          <div class="review-shipping-address">{{orderBillToCntryName}}</div>
                        </div>
                      </div>
                      <br>
                      <h3><span translate>LABEL-SHIPPING-OPTION</span></h3>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="review-shipping-option">{{deliveryTitle}} - {{deliveryTime}}</div>
                        </div>
                      </div>
                      <br>
                      <h3 class="js-headline topline">{{productTitle}}</h3>
                      <div class="row">
                        <div class="col-xs-12">
                          <p class="js-content">{{productDescription}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="table-responsive col-xs-12 m-t-md m-b-md">
                          <table class="table b-light">
                            <tbody>
                            <tr>
                              <td><span translate>LABEL-CHECKOUT-QUANTITY</span></td>
                              <td><span class="lbl-quantity" ng-bind="L_PAYMENTREQUEST_0_QTY0" data-value="{{L_PAYMENTREQUEST_0_QTY0}}"></span></td>
                            </tr>
                            <tr>
                              <td><span translate>LABEL-PRODUCT-PRICE</span></td>
                              <td><span class="lbl-priceperitem" ng-bind="PAYMENTREQUEST_0_ITEMAMT" data-value="{{PAYMENTREQUEST_0_ITEMAMT}}"></span> {{currencyCode}}</td>
                            </tr>
                            <tr>
                              <td><span translate>LABEL-CHECKOUT-SUBTOTAL</span></td>
                              <td><span class="lbl-subtotal" ng-bind="subtotal" data-value="{{subtotal}}"></span> {{currencyCode}}</td>
                            </tr>
                            <tr>
                              <td><span translate>LABEL-SHIPPING-COST</span> ({{deliveryTitle}})</td>
                              <td><span class="lbl-shipping" ng-bind="PAYMENTREQUEST_0_SHIPPINGAMT" data-value="{{PAYMENTREQUEST_0_SHIPPINGAMT}}"></span> {{currencyCode}}</td>
                            </tr>
                            <tr class="total">
                              <td><span translate>LABEL-CHECKOUT-TOTAL</span></td>
                              <td><span class="lbl-total" ng-bind="PAYMENTREQUEST_0_AMT" data-value="{{PAYMENTREQUEST_0_AMT}}"></span> {{currencyCode}}</td>
                            </tr>
                            <tr class="small">
                              <td><span translate>LABEL-CHECKOUT-INCVAT</span> (<span class="lbl-vat-percent" ng-bind="tax.taxRate" data-value="{{tax.taxRate}}">{{tax.taxRate}}</span> %)</td>
                              <td><span class="lbl-vat" ng-bind="vat" data-value="{{vat}}"></span> {{currencyCode}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <br><br><br>
                      <div ng-show="false" class="shariff clear" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;mail&quot;,&quot;info&quot;]" data-theme="standard" data-orientation="horizontal">
                        <ul class="theme-color orientation-horizontal col-5">
                          <li class="shariff-button facebook">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{shareURL}}" data-rel="popup" title="Bei Facebook teilen" role="button" aria-label="Bei Facebook teilen">
                              <span class="fa fa-facebook"></span>
                              <span class="share_text">Produkt post</span>&nbsp;
                            </a>
                          </li>
                          <li class="shariff-button pinterest">
                            <a href="http://pinterest.com/pin/create/button/?url={{shareURL}}" data-rel="popup" title="Bei Pinterest teilen" role="button" aria-label="Bei Pinterest teilen">
                              <span class="fa fa-pinterest"></span>
                              <span class="share_text">Produkt pin</span>&nbsp;
                            </a>
                          </li>
                          <li class="shariff-button twitter">
                            <a href="https://twitter.com/intent/tweet?url={{shareURL}}" data-rel="popup" title="Bei Twitter teilen" role="button" aria-label="Bei Twitter teilen">
                              <span class="fa fa-twitter"></span>
                              <span class="share_text">Produkt tweet</span>&nbsp;
                            </a>
                          </li>
                        </ul>
                      </div>
                      <br><br>
                    </div>
                  </div>
                  <!-- /confirmation -->

                </div>
                <!-- / panel body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- / content -->

  <!-- footer -->
  <footer id="footer" class="app-footer m-l-none" role="footer">
    <div class="wrapper-lg b-t bg-light text-center clearfix">
      <p>&copy; <span ng-bind="displayName"></span><br/><p>
      <a ng-href="{{merchantURL}}"><span ng-bind="merchantURLText"></span></a></p>

      <div id="footer-nav" role="tablist" aria-multiselectable="true">
        <ul class="navbar-nav nav">
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-imprint" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-imprint" translate>LABEL-LEGAL-IMPRINT</a></li>
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-terms" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-terms" translate>LABEL-LEGAL-TERMSANDCONDITIONS</a></li>
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-privacy" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-privacy" translate>LABEL-LEGAL-PRIVACYPOLICY</a></li>
          <li><a role="button" data-toggle="collapse" href="#accordion-footer-return" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-return" translate>LABEL-LEGAL-RETURNPOLICY</a></li>
        </ul>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-imprint" role="tabpanel">
            <h4><span translate>LABEL-LEGAL-IMPRINT</span></h4>
            <span ng-bind-html="legal.legalImprint"></span></div>
        </div>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-terms" role="tabpanel">
            <h4><span translate>LABEL-LEGAL-TERMSANDCONDITIONS</span></h4>
            <span ng-bind-html="legal.legalTermsandConditions"></span></div>
        </div>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-privacy" role="tabpanel">
            <h4><span translate>LABEL-LEGAL-PRIVACYPOLICY</span></h4>
            <span ng-bind-html="legal.legalPrivacyPolicy"></span></div>
        </div>

        <div class="panel m-b-none">
          <div class="collapse" id="accordion-footer-return" role="tabpanel">
            <h4><span translate>LABEL-LEGAL-RETURNPOLICY</span></h4>
            <span ng-bind-html="legal.legalReturnPolicy"></span></div>
        </div>
      </div>
    </div>
    <div class="wrapper b-t bg-dark text-center">
      Powered by <a href="www.mightymerce.com">mightymerce - www.mightymerce.com - convert followers into customers</a>
    </div>
  </footer>
  <!-- / footer -->

</div>
  <!--
<script type="text/javascript">
  window.paypalCheckoutReady = function () {
    paypal.checkout.setup('Your merchant email id', {
      container: 'myContainer', //{String|HTMLElement|Array} where you want the PayPal button to reside
      environment: 'sandbox' //or 'production' depending on your environment
    });
  };
</script>
<script src="//www.paypalobjects.com/api/checkout.js" async="async"></script> -->
</section>
