<section ng-controller="CheckoutsController" id="CheckoutsControllerID" ng-init="findOne()">

  <div itemscope itemtype="http://schema.org/Product">
    <span itemprop="brand" content="{{user.displayName}}"></span>
    <span itemprop="name" content="{{product.productTitle}}"></span>
    <span itemprop="description" content="{{product.productDescription}}"></span>
    <img itemprop="image" content="{{user.profileImageURL}}" />
    <meta itemprop="gtin14" content="00886227537143" />
    <meta itemprop="sku" content="{{product.productId}}" />

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="EUR" />
      <span itemprop="price" content="{{product.productPrice}}"></span>
      <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
      <meta itemprop="availability" content="http://schema.org/InStock"/>
    </div>
  </div>

  <div class="app app-dock">

    <!-- content -->
    <div id="content" class="app-content m-l-none" role="main">
      <div class="app-content-body ">

        <!-- main -->
        <div class="col">
          <div class="wrapper-md">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel b-a">
                  <div class="panel-heading">
                    <a href="#/">
                      <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" />
                    </a>
                  </div>
                  <img ng-src="{{product.productMainImageURLFacebook}}" class="teaser-img" alt="{{product.productMainImageAlt}}"/>
                  <button class="btn m-b-xs w-xs btn-info single-price" ng-bind="product.productPrice" data-value="{{product.productPrice}}"></button>
                  <button class="btn m-b-xs w-xs btn-info product-currency" ng-hide="true" ng-bind="currency.currencyCode" data-value="{{currency.currencyCode}}"></button>

                  <div class="bg-light lter b-b wrapper-md wrapper-p5" id="belowpicture">
                    <span class="text-muted step-headline" translate>LABEL-CHECKOUT-ORDER-NOW</span>
                  </div>
                  <div ng-show="error" class="alert alert-danger">
                    <p ng-bind="error"></p>
                  </div>
                  <div ng-show="success" class="alert alert-success">
                    <p ng-bind="success"></p>
                  </div>

                  <div class="panel-body wrapper-md">

                    <div class="cart">
                      <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                          <h1 class="h3 text-black js-headline" ng-bind="product.productTitle" id="productTitle" name="productTitle"></h1>
                          <p class="js-content"><span data-ng-bind="product.productDescription" id="productDescription" name="productDescription"></span></p>
                          <aside class="pricingtable m-t-md">
                            <div class="row">
                              <form class="form-inline" role="form">
                                <div class="col-xs-8">
                                  <label class="col-md-12 control-label" translate>LABEL-CHECKOUT-QUANTITY</label>
                                </div>
                                <div class="col-xs-4">
                                  <div class="pull-right">
                                    <input class="form-control amount" id="amountID" type="text" value="1" name="amountID">
                                    <script>
                                      $("input[name='amountID']").TouchSpin({
                                        min: 1,
                                        max: 10,
                                        step: 1,
                                        decimals: 0
                                      });
                                    </script>
                                  </div>
                                </div>
                              </form>
                            </div>

                            <div class="row">
                              <div class="table-responsive col-xs-12 m-t-md m-b-md">
                                <table class="table b-light">
                                  <tbody>
                                  <tr>
                                    <td><span translate>LABEL-CHECKOUT-SUBTOTAL</span></td>
                                    <td><span class="lbl-subtotal"></span> {{currency.currencyCode}}</td>
                                  </tr>
                                  <tr>
                                    <td><span translate>LABEL-SHIPPING-COST</span> ({{delivery.deliveryTime}})</td>
                                    <td><span class="lbl-shipping" data-ng-bind="delivery.deliveryCost" data-value="{{delivery.deliveryCost}}"></span> {{currency.currencyCode}}</td>
                                  </tr>
                                  <tr class="total">
                                    <td><span translate>LABEL-CHECKOUT-TOTAL</span></td>
                                    <td><span class="lbl-total"></span> {{currency.currencyCode}}</td>
                                  </tr>
                                  <tr class="small">
                                    <td><span translate>LABEL-CHECKOUT-INCVAT</span> (<span class="lbl-vat-percent" ng-bind="tax.taxRate" data-value="{{tax.taxRate}}">{{tax.taxRate}}</span> %)</td>
                                    <td><span class="lbl-vat"></span> {{currency.currencyCode}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div align="center">
                              <a id="myContainer" ng-hide="itemOutofStock">
                               <img ng-click="checkoutPaypal()" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="mightymerce checkout with paypal" />
                              </a>
                            </div>
                            <br><br><br>
                            <div class="row">
                              <div class="col-lg-2">
                                <a class="azm-social azm-size-48 azm-r-square azm-facebook"
                                        socialshare
                                        socialshare-provider="facebook"
                                        socialshare-type="feed"
                                        socialshare-via="1679726155619376"
                                        socialshare-media="{{linkMainImageUrlFacebook}}"
                                        socialshare-text="{{product.productTitle}}"
                                        socialshare-description="{{product.productDescription}}"
                                        socialshare-caption="{{user.displayName}}"
                                        socialshare-url="{{linkUrlSocialShareFacebook}}"
                                        socialshare-redirect-uri="{{linkUrlSocialShareFacebook}}"
                                        socialshare-popup-height="400"
                                        socialshare-popup-width="500"
                                        socialshare-trigger="click" >
                                  <i class="fa fa-facebook"></i>
                                </a>
                              </div>
                              <div class="col-lg-2">
                                <a class="azm-social  azm-size-48 azm-r-square azm-pinterest"
                                        socialshare
                                        socialshare-media="{{linkMainImageUrlPinterest}}"
                                        socialshare-provider="pinterest"
                                        socialshare-text="{{product.productDescription}}"
                                        socialshare-url="{{linkMainImageUrlPinterest}}"
                                        socialshare-popup-height="400"
                                        socialshare-popup-width="500"
                                        socialshare-trigger="click" >
                                  <i class="fa fa-pinterest"></i>
                                </a>
                              </div>
                              <div class="col-lg-2">
                                <a class="azm-social  azm-size-48 azm-r-square azm-twitter"
                                        socialshare
                                        socialshare-provider="twitter"
                                        socialshare-hashtags="mightymerce, {{product.productTitle}}, {{user.displayName}}"
                                        socialshare-via="twitter"
                                        socialshare-text="{{product.productTitle}}"
                                        socialshare-url="{{linkUrlSocialShareTwitter}}"
                                        socialshare-popup-height="400"
                                        socialshare-popup-width="500"
                                        socialshare-trigger="click">
                                  <i class="fa fa-twitter"></i>
                                </a>
                              </div>
                              <div class="col-lg-2">
                                <a class="azm-social  azm-size-48 azm-r-square azm-email-1"
                                        socialshare
                                        socialshare-provider="email"
                                        socialshare-body="{{product.productDescription}}"
                                        socialshare-to="eingabe@email.ing"
                                        socialshare-media="{{linkMainImageUrlFacebook}}"
                                        socialshare-subject="{{product.productTitle}}"
                                        socialshare-popup-height="400"
                                        socialshare-popup-width="500">
                                  <i class="fa fa-envelope"></i>
                                </a>
                              </div>
                              <div class="col-lg-2">
                                <a class="azm-social azm-size-48 azm-r-square azm-skype"
                                        socialshare
                                        socialshare-provider="skype"
                                        socialshare-url="{{linkUrlSocialShareSkype}}"
                                        socialshare-text="{{product.productTitle}}"
                                        socialshare-popup-height="800"
                                        socialshare-popup-width="400"
                                        socialshare-trigger="click" >
                                  <i class="fa fa-skype"></i>
                                </a>
                              </div>
                              <div class="col-lg-2">
                                <a class="azm-social azm-size-48 azm-r-square azm-whatsapp"
                                   socialshare
                                   socialshare-provider="whatsapp"
                                   socialshare-url="{{linkUrlSocialShareWhatsapp}}"
                                   socialshare-text="{{product.productTitle}}" >
                                  <i class="fa fa-whatsapp"></i>
                                </a>
                              </div>
                            </div>
                            <p>* Whatsapp teilen nur auf iOS oder Android</p>
                            <br><br>
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-subtotal-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-total-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-shipping-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-itemprice-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-vat-PP" hidden />

                          </aside>
                        </div>
                      </div>
                    </div>
                    <!-- / cart-->

                  </div>
                  <!-- / panel body -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / main -->
    </div>
    <!-- / content -->

    <!-- footer -->
    <footer id="footer" class="app-footer m-l-none" role="footer">
      <div class="wrapper-lg b-t bg-light text-center clearfix">

        <p>&copy; <span ng-bind="user.displayName"></span><br/><p>
          <a ng-href="{{user.merchantURL}}"><span ng-bind="user.merchantURLText"></span></a></p>

        <div id="footer-nav" role="tablist" aria-multiselectable="true">
          <ul class="navbar-nav nav">
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-imprint" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-imprint" translate>LABEL-LEGAL-IMPRINT</a></li>
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-terms" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-terms" translate>LABEL-LEGAL-TERMSANDCONDITIONS</a></li>
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-privacy" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-privacy" translate>LABEL-LEGAL-PRIVACYPOLICY</a></li>
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-return" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-return" translate>LABEL-LEGAL-RETURNPOLICY</a></li>
          </ul>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-imprint" role="tabpanel">
              <h4><span translate>LABEL-LEGAL-IMPRINT</span></h4>
              {{legal.legalImprint}}</div>
          </div>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-terms" role="tabpanel">
              <h4><span translate>LABEL-LEGAL-TERMSANDCONDITIONS</span></h4>
              {{legal.legalTermsandConditions}}</div>
          </div>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-privacy" role="tabpanel">
              <h4><span translate>LABEL-LEGAL-PRIVACYPOLICY</span></h4>
              {{legal.legalPrivacyPolicy}}</div>
          </div>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-return" role="tabpanel">
              <h4><span translate>LABEL-LEGAL-RETURNPOLICY</span></h4>
              {{legal.legalReturnPolicy}}</div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t bg-dark text-center">
        Powered by <a href="http://www.mightymerce.com">mightymerce - www.mightymerce.com - convert followers into customers</a>
      </div>
    </footer>
    <!-- / footer -->

  </div>

  <!-- <script src="//www.paypalobjects.com/api/checkout.js" async></script> -->

</section>
