<section ng-controller="CheckoutsController" id="CheckoutsControllerID" ng-init="findOne()">

  <div class="app app-dock">

    <!-- content -->
    <div id="content" class="app-content m-l-none" role="main">
      <div class="app-content-body ">

        <!-- main -->
        <div class="col">
          <div class="wrapper-md">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel b-a">
                  <div class="panel-heading">
                    <a href="#/">
                      <img ng-src="{{user.profileImageURL}}" alt="." />
                    </a>
                  </div>
                  <img ng-src="{{product.productMainImageURL}}" class="teaser-img" />
                  <button class="btn m-b-xs w-xs btn-info single-price" ng-bind="product.productPrice" data-value="{{product.productPrice}}"></button>

                  <div class="bg-light lter b-b wrapper-md wrapper-p5" id="belowpicture">
                    <span class="text-muted step-headline">Order now</span>
                  </div>
                  <div ng-show="error" class="alert alert-danger">
                    <p ng-bind="error"></p>
                  </div>
                  <div ng-show="success" class="alert alert-success">
                    <p ng-bind="success"></p>
                  </div>

                  <div class="panel-body wrapper-md">

                    <div class="cart">
                      <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                          <h1 class="h3 text-black js-headline" ng-bind="product.productTitle" id="productTitle" name="productTitle"></h1>
                          <p class="js-content"><span data-ng-bind="product.productDescription" id="productDescription" name="productDescription"></span></p>
                          <aside class="pricingtable m-t-md">
                            <div class="row">
                              <form class="form-inline" role="form">
                                <div class="col-xs-8">
                                  <label class="col-md-12 control-label">Quantity</label>
                                </div>
                                <div class="col-xs-4">
                                  <div class="pull-right">
                                    <input class="form-control amount" id="amountID" type="text" value="1" name="amountID">
                                    <script>
                                      $("input[name='amountID']").TouchSpin({
                                        min: 1,
                                        max: 10,
                                        step: 1,
                                        decimals: 0
                                      });
                                    </script>
                                  </div>
                                </div>
                              </form>
                            </div>

                            <div class="row">
                              <div class="table-responsive col-xs-12 m-t-md m-b-md">
                                <table class="table b-light">
                                  <tbody>
                                  <tr>
                                    <td>Subtotal</td>
                                    <td><span class="lbl-subtotal"></span></td>
                                  </tr>
                                  <tr>
                                    <td>Shipping ({{delivery.deliveryTitle}})</td>
                                    <td><span class="lbl-shipping" data-ng-bind="delivery.deliveryCost" data-value="{{delivery.deliveryCost}}"></span></td>
                                  </tr>
                                  <tr class="total">
                                    <td>Total</td>
                                    <td><span class="lbl-total"></span><span> €</span></td>
                                  </tr>
                                  <tr class="small">
                                    <td>incl. VAT</td>
                                    <td><span class="lbl-vat"></span></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div align="center">
                              <a id="myContainer" ng-hide="itemOutofStock">
                               <img ng-click="checkoutPaypal()" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" />
                              </a>
                            </div>
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-subtotal-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-total-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-shipping-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-itemprice-PP" hidden />
                            <input ng-hide="true" type="text" value="0" class="form-control lbl-vat-PP" hidden />

                          </aside>
                        </div>
                      </div>
                    </div>
                    <!-- / cart-->

                  </div>
                  <!-- / panel body -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / main -->
    </div>
    <!-- / content -->

    <!-- footer -->
    <footer id="footer" class="app-footer m-l-none" role="footer">
      <div class="wrapper-lg b-t bg-light text-center clearfix">

        <p>&copy; <span ng-bind="user.displayName"></span><br/><p>
          <a ng-href="{{user.merchantURL}}"><span ng-bind="user.merchantURLText"></span></a></p>

        <div id="footer-nav" role="tablist" aria-multiselectable="true">
          <ul class="navbar-nav nav">
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-imprint" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-imprint">Imprint</a></li>
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-terms" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-terms">Terms &amp; Conditions</a></li>
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-privacy" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-privacy">Privacy Policy</a></li>
            <li><a role="button" data-toggle="collapse" href="#accordion-footer-return" aria-expanded="false" data-parent="#footer-nav"  aria-controls="accordion-footer-return">Return Policy</a></li>
          </ul>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-imprint" role="tabpanel">
              <h4>Imprint</h4>
              {{legal.legalImprint}}</div>
          </div>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-terms" role="tabpanel">
              <h4>Terms and Conditions</h4>
              {{legal.legalTermsandConditions}}</div>
          </div>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-privacy" role="tabpanel">
              <h4>Privacy Policy</h4>
              {{legal.legalPrivacyPolicy}}</div>
          </div>

          <div class="panel m-b-none">
            <div class="collapse" id="accordion-footer-return" role="tabpanel">
              <h4>Return Policy</h4>
              {{legal.legalReturnPolicy}}</div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t bg-dark text-center">
        Powered by <a href="www.mightymerce.com">mightymerce - www.mightymerce.com - convert followers into customers</a>
      </div>
    </footer>
    <!-- / footer -->

  </div>

  <!-- <script src="//www.paypalobjects.com/api/checkout.js" async></script> -->

</section>
