<section ng-controller="DeliverysController" ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Shop Settings</h2>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <strong>Settings</strong>
        </li>
        <li class="active">
          <strong>Delivery - Edit</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <form name="deliveryForm" class="form-horizontal" ng-submit="update(deliveryForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Delivery option</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label">Delivery Title*</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="delivery.deliveryTitle" id="deliveryTitle" class="form-control" placeholder="" required></div>
                <div ng-messages="deliveryForm.deliveryTitle.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Delivery title is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Delivery Duration*</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="delivery.deliveryTime" id="deliveryTime" class="form-control" placeholder="" required></div>
                <div ng-messages="deliveryForm.deliveryTime.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Delivery Duration is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Delivery Country*</label>
                <div class="col-sm-8"><input ng-model="delivery.deliveryCountry" id="deliveryCountry" class="form-control" placeholder="" required></div>
                <div ng-messages="deliveryForm.deliveryCountry.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Delivery Country is required.</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Delivery Cost*</label>
                <div class="col-sm-8"><input ng-model="delivery.deliveryCost" type="text" pattern="[0-9]+([.][0-9]+)*" id="deliveryCost" class="form-control" placeholder="" required></div>
                <div ng-messages="deliveryForm.deliveryCost.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Delivery Cost is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div align="right">
              <a ng-hide="basicData" ui-sref="tutorial" class="btn btn-w-m btn-warning btn-outline">Return to tutorial</a>
              <button type="submit" class="btn btn-w-m btn-warning">Update delivery data</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
</section>
