<div class="footer" ng-controller="HeaderController" ng-hide="footHide">
  <div class="col-lg-4" align="left">
    <strong>Copyright 2016</strong> Mightymerce | All Rights Reserved
  </div>
  <div class="col-lg-4" align="center">
    <a href="http://www.mightymerce.de/impressum/" translate>LABEL-IMPRINT
    </a><span> | </span>
    <a href="http://www.mightymerce.de/datenschutz/" translate>LABEL-DATASECURITY
    </a><span> | </span>
    <a href="http://www.mightymerce.de/agb/" translate>LABEL-TERMS
    </a><span> | </span>
    <a href="http://www.mightymerce.com" translate>LABEL-CONTACT
    </a>
  </div>
  <div class="col-lg-4" align="right">
    Convert followers into customers
  </div>
</div>
