<div class="footer" ng-controller="HeaderController">
  <div align="center" ng-hide="authentication.user">
    <a ui-sref="http://www.mightymerce.com/de/impressum/">Impressum & Haftungsausschluss
    </a><span> | </span>
    <a ui-sref="http://www.mightymerce.com/de/datenschutz/">Datenschutz
    </a><span> | </span>
    <a ui-sref="http://www.mightymerce.com">AGB
    </a><span> | </span>
    <a ui-sref="http://www.mightymerce.com">Kontakt
    </a>
  </div>
  <div class="pull-right">
    Convert followers into customers
  </div>
  <div>
    <strong>Copyright 2015</strong> Mightymerce | All Rights Reserved
  </div>
</div>
