<div class="footer" ng-controller="HeaderController" ng-hide="footHide">
  <div class="col-lg-4" align="left">
    <strong>Copyright 2016</strong> Mightymerce | All Rights Reserved
  </div>
  <div class="col-lg-4" align="center">
    <a href="http://www.mightymerce.com/de/impressum/">Impressum & Haftungsausschluss
    </a><span> | </span>
    <a href="http://www.mightymerce.com/de/datenschutz/">Datenschutz
    </a><span> | </span>
    <a href="http://www.mightymerce.com/de/agb">AGB
    </a><span> | </span>
    <a href="http://www.mightymerce.com">Kontakt
    </a>
  </div>
  <div class="col-lg-4" align="right">
    Convert followers into customers
  </div>
</div>
