<div class="footerlogin" ng-controller="HeaderController">
  <div class="col-lg-6" align="left">
    Copyright 2016 mightymerce - all rights reserved
  </div>
  <div class="col-lg-6" align="right">
    <a class="a-footer-login" href="http://www.mightymerce.de/impressum/" translate>LABEL-IMPRINT
    </a><span> | </span>
    <a class="a-footer-login" href="http://www.mightymerce.de/datenschutz/" translate>LABEL-DATASECURITY
    </a><span> | </span>
    <a class="a-footer-login" href="http://www.mightymerce.de/agb/" translate>LABEL-TERMS
    </a><span> | </span>
    <a class="a-footer-login" href="mailto:info@mightymerce.com?Subject=Kontakt" target="_top" translate>LABEL-CONTACT</a>
  </div>
</div>
