<div ng-hide="!authentication.user" class="row border-bottom white-bg" ng-controller="HeaderController">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <a href="#" class="logo-nav"><img width="138px" alt="mightymerce.com - social commerce" class="" src="/modules/core/client/img/brand/mm_logo_grey_high.png"/></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown" uib-dropdown>
          <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
            <li class="active" ng-show="{{basicData}}">
              <a aria-expanded="false" role="button" ui-sref="dashboard" translate>LABEL-HEADER-DASHBOARD</a>
            </li>
            <li class="active" ng-hide="{{basicData}}">
              <a aria-expanded="false" role="button" ui-sref="tutorial" translate>LABEL-HEADER-TUTORIAL</a>
            </li>
            <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
              <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
              <ul ng-switch-when="dropdown" class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
                  <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
                </li>
              </ul>
              <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle count-info" uib-dropdown-toggle href="#">
          <i class="fa fa-envelope"></i>  <span class="label label-warning">0</span>
        </a>
        <ul class="dropdown-menu dropdown-messages">
        </ul>
      </li>
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle count-info" uib-dropdown-toggle href="#">
          <i class="fa fa-bell"></i>  <span class="label label-primary">{{ noOpenOrders }}</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <a ui-sref="orders.list">
              <div>
                <i class="fa fa-shopping-cart fa-fw"></i><span translate>TEXT-YOU-HAVE</span> {{ noOpenOrders }} <span translate>TEXT-OPEN-ORDERS</span>
                <span class="pull-right text-muted small" translate>TEXT-STATUS-CREATED</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li data-ng-repeat="order in orders | limitTo: 5 | orderBy:'-created' | filter: {orderStatus: 'CREATED'}">
            <div class="dropdown-messages-box" ui-sref="orders.edit({orderId: order._id})">
              <div class="media-body ">
                <small class="pull-right text-navy" ng-bind="order.orderDate | date:'mediumDate'"></small>
                  <span translate>LABEL-CUSTOMER</span>: <strong>{{order.orderCustomer}}</strong> <span translate>LABEL-ORDER-AMOUNT</span>: <strong>{{order.orderShipToTotalAmount}} €</strong>. <br>
                <small class="text-muted"><span translate>LABEL-VIA-CHANNEL</span>: {{order.orderChannel}}</small>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div class="text-center link-block">
              <a ui-sref="orders.list">
                <strong translate>LABEL-SEE-ALL-ORDERS</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
      </ul>

      <ul class="nav navbar-top-links navbar-right" ng-hide="!authentication.user">
        <li>
          <a ng-click="signout()">
            <i class="fa fa-sign-out"></i> <span translate>LABEL-LOGOUT</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="changeLang('en-EN')">EN</a></li>
        <li><a href="">|</a></li>
        <li><a href="" ng-click="changeLang('de-DE')">DE</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
            <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
            <li ui-sref-active="active">
              <a ui-sref="profile" translate>LABEL-PROFILE</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="logo" translate>LABEL-LOGO</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="payment" translate>LABEL-PAYMENT</a>
            </li>
            <!--
            <li ui-sref-active="active">
              <a ui-sref="subscription" translate>LABEL-SUBSCRIPTION</a>
            </li>
            -->
            <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
              <a ui-sref="settings.password" translate>LABEL-CHANGE-PASSWORD</a>
            </li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
        <li ui-sref-active="active">
          <a ui-sref="authentication.signup" translate>BUTTON-TEXT-SIGNUP</a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-sref-active="active">
          <a ui-sref="authentication.signin" translate>BUTTON-TEXT-SIGNIN</a>
        </li>
      </ul>

    </div>
  </nav>
</div>

<!--
<div ng-hide="navHide" class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">Your dashboard</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Manage Social Accounts</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
-->
