<section id="HomeController" data-ng-controller="TutorialController" ng-init="initHome()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="h3">
      <span translate>LABEL-HEADER-TUTORIAL</span>
    </div>
  </div>
  <br>
  <div class="gray-bg">
    <div class="wrapper wrapper-content" data-ng-controller="HomeController">
      <div class="row animated fadeInRight">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-content gray-bg" align="center">
              <h2><span translate>LABEL-WELCOME</span> <span ng-bind="authentication.user.displayName"></span></h2>
              <p translate>MESSAGE-EXPLAIN-TUTORIAL</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row animated fadeInRight">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-content gray-bg">
              <div id="vertical-timeline" class="vertical-container light-timeline">

                <div class="vertical-timeline-block">
                  <div ng-show="showCompanyDetails" class="btn btn-warning m-r-sm">
                    <strong>1</strong>
                  </div>
                  <div ng-show="showCompanyDetailsComplete" class="btn btn-primary m-r-sm">
                    <strong>1</strong>
                  </div>

                  <div class="vertical-timeline-content">
                    <h2 translate>LABEL-ADD-COMPANY-DETAILS</h2>
                    <p translate>LABEL-ADD-BASICS-COMPANY-DETAILS</p>
                    <div class="text-navy" ng-show="showCompanyDetailsComplete">
                      <h2><span translate>LABEL-COMPLETED</span> <i class="fa fa-check"></i></h2>
                    </div>
                    <div ng-show="showCompanyDetails">
                      <a href="#" class="btn btn-warning" ui-sref="profile" translate>LABEL-MAINTAIN-COMPANY-DATA</a>
                    </div>
                    <div ng-show="showCompanyDetailsComplete">
                      <a href="#" class="btn btn-primary btn-outline" ui-sref="profile" translate>LABEL-MAINTAIN-COMPANY-DATA</a>
                    </div>
                  </div>
                </div>

                <div class="vertical-timeline-block">
                  <div ng-show="showLegalDetails" class="btn btn-warning m-r-sm">
                    <strong>2</strong>
                  </div>
                  <div ng-show="showLegalDetailsComplete" class="btn btn-primary m-r-sm">
                    <strong>2</strong>
                  </div>

                  <div class="vertical-timeline-content">
                    <h2 translate>LABEL-ADD-LEGAL-DATA</h2>
                    <p translate>LABEL-NOTE-ADD-TERMS-AND-CONDITIONS</p>
                    <div  class="text-navy" ng-show="showLegalDetailsComplete">
                      <h2><span translate>LABEL-COMPLETED</span> <i class="fa fa-check"></i></h2>
                    </div>
                    <div ng-show="showLegalDetails">
                      <a href="#" class="btn btn-warning" ui-sref="legals.list" translate>LABEL-MAINTAIN-LEGAL-DATA</a>
                    </div>
                    <div ng-show="showLegalDetailsComplete">
                      <a href="#" class="btn btn-primary btn-outline" ui-sref="legals.list" translate>LABEL-MAINTAIN-LEGAL-DATA</a>
                    </div>
                  </div>
                </div>

                <div class="vertical-timeline-block">
                  <div ng-show="showPaypalDetails" class="btn btn-warning m-r-sm">
                    <strong>3</strong>
                  </div>
                  <div ng-show="showPaypalDetailsComplete" class="btn btn-primary m-r-sm">
                    <strong>3</strong>
                  </div>

                  <div class="vertical-timeline-content">
                    <h2 translate>LABEL-ADD-PAYPAL</h2>
                    <p translate>LABEL-NOTE-ADD-PAYPAL</p>
                    <div class="text-navy" ng-show="showPaypalDetailsComplete">
                      <h2><span translate>LABEL-COMPLETED</span> <i class="fa fa-check"></i></h2>
                    </div>
                    <div ng-show="showPaypalDetails">
                      <a href="#" class="btn btn-warning" ui-sref="payment" translate>LABEL-CONNECT-TO-PAYPAL</a>
                    </div>
                    <div ng-show="showPaypalDetailsComplete">
                      <a href="#" class="btn btn-primary btn-outline" ui-sref="payment" translate>LABEL-CONNECT-TO-PAYPAL</a>
                    </div>
                  </div>
                </div>

                <div class="vertical-timeline-block">
                  <div ng-show="showDeliveryDetails" class="btn btn-warning m-r-sm">
                    <strong>4</strong>
                  </div>
                  <div ng-show="showDeliveryDetailsComplete" class="btn btn-primary m-r-sm">
                    <strong>4</strong>
                  </div>

                  <div class="vertical-timeline-content">
                    <h2 translate>LABEL-ADD-DELIVERY-OPTION</h2>
                    <p translate>LABEL-NOTE-ADD-DELIVERY-OPTION</p>
                    <p translate>LABEL-NOTE-HINT-ADDED-DELIVERY-OPTION</p>
                    <div class="text-navy" ng-show="showDeliveryDetailsComplete">
                      <h2><span translate>LABEL-COMPLETED</span> <i class="fa fa-check"></i></h2>
                    </div>
                    <div ng-show="showDeliveryDetails">
                      <a href="#" class="btn btn-warning" ui-sref="deliverys.list" translate>LABEL-VERIFY-DELIVERY-OPTION</a>
                    </div>
                    <div ng-show="showDeliveryDetailsComplete">
                      <a href="#" class="btn btn-primary btn-outline" ui-sref="deliverys.list" translate>LABEL-VERIFY-DELIVERY-OPTION</a>
                    </div>
                  </div>
                </div>

                <div class="vertical-timeline-block">
                  <div ng-show="showProductCreate" class="btn btn-warning m-r-sm">
                    <strong>5</strong>
                  </div>
                  <div ng-show="showProductCreateComplete" class="btn btn-primary m-r-sm">
                    <strong>5</strong>
                  </div>

                  <div class="vertical-timeline-content">
                    <h2 translate>LABEL-MAINTAIN-FIRST-PRODUCT</h2>
                    <p translate>LABEL-NOTE-MAINTAIN-FIRST-PRODUCT</p>
                    <div class="text-navy" ng-show="showProductCreateComplete">
                      <h2><span translate>LABEL-COMPLETED</span> <i class="fa fa-check"></i></h2>
                    </div>
                    <div ng-show="showProductCreate">
                      <a href="#" class="btn btn-warning" ui-sref="products.create" translate>LABEL-MAINTAIN-PRODUCT</a>
                    </div>
                    <div ng-show="showProductCreateComplete">
                      <a href="#" class="btn btn-primary btn-outline" ui-sref="products.create" translate>LABEL-MAINTAIN-PRODUCT</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>
</section>
