<section class="row" ng-controller="PasswordController">
  <div class="top-content">
    <div class="bodylogin">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <a href="http://www.mightymerce.com"><img width="100%" alt="mightymerce.com - social commerce" class="" src="/modules/core/client/img/brand/mm_logo_white_high.png"/></a>
          </div>
          <div class="col-sm-9 col-sm-offset-3 text">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h2 translate>HEADLINE-SUB-FORGOTPWD</h2>
              </div>
              <div class="form-top-right">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="signin" novalidate autocomplete="off">
                <fieldset>
                  <div ng-show="error" class="alert alert-danger">
                    <p ng-bind="error"></p>
                  </div>
                  <div ng-show="success" class="alert alert-success">
                    <p ng-bind="success"></p>
                  </div>
                  <div class="form-group" show-errors>
                    <label class="sr-only" for="username" translate>LABEL-EMAIL</label>
                    <input type="text" name="username" ng-model="credentials.username" placeholder="{{'PLACEHOLDER-LABEL-EMAIL' | translate}}" class="form-username form-control" id="username" lowercase required>
                    <p class="help-block error-text" ng-show="forgotPasswordForm.username.$touched && forgotPasswordForm.username.$error.required" role="alert" translate>VALIDATION-REQ-EMAIL</p>
                  </div>
                  <div class="text-center form-group">
                    <button type="submit" class="btn buttonlogin" translate>BUTTON-TEXT-SUBMIT</button>
                    <br>
                    <br>
                  </div>
                  <div class="text-center forgot-password">
                    <a class="a-login" ui-sref="authentication.signup" translate>BUTTON-TEXT-SIGNUP</a>
                    &nbsp;<span translate>LABEL-OR</span>&nbsp;
                    <a class="a-login" ui-sref="home" translate>BUTTON-TEXT-SIGNIN</a>
                  </div>
                </fieldset>
              </form>

            </div>
          </div>
        </div>
        <div class="row">
          <br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="footerlogin" ng-include="'/modules/core/client/views/footer-login.client.view.html'"></div>
</section>
