<section class="row" ng-controller="PasswordController">
  <div class="top-content">
    <div class="bodylogin">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 text">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
              <div class="form-top-center">
                <a href="#" class="navbar-brand"><img alt="mightymerce.com - social commerce" class="" src="/modules/core/client/img/brand/mm_Logo.png"/></a>
              </div>
              <div class="form-top-left">
                <h3 class="h3-login" translate>HEADLINE-SUB-RESETPWD</h3>
              </div>
              <div class="form-top-right">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
                <fieldset>
                  <div ng-show="error" class="alert alert-danger">
                    <p ng-bind="error"></p>
                  </div>
                  <div ng-show="success" class="alert alert-success">
                    <p ng-bind="success"></p>
                  </div>
                  <div class="form-group" show-errors>
                    <label class="sr-only" for="newPassword" translate>LABEL-NEW-PASSWORD</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" uib-popover="{{popoverMsg}}" popover-trigger="focus" popover-placement="top" password-validator required>
                    <p class="help-block error-text" ng-show="forgotPasswordForm.username.$touched && forgotPasswordForm.username.$error.required" role="alert" translate>VALIDATION-ENTER-NEW-PASSWORD</p>
                    <div ng-repeat="passwordError in passwordErrors">
                      <p class="help-block error-text" ng-show="resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label class="sr-only" for="verifyPassword" translate>LABEL-VERIFY-PASSWORD</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.newPassword" required>

                    <p class="help-block error-text" ng-show="forgotPasswordForm.username.$touched && forgotPasswordForm.username.$error.required" role="alert" translate>VALIDATION-ENTER-PASSWORD-AGAIN</p>
                    <p class="help-block error-text" ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify translate>VALIDATION-PASSWORD-MATCH</p>

                  </div>
                  <div class="form-group" ng-show="!resetPasswordForm.newPassword.$error.required">
                    <label>Password Requirements</label>
                    <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
                  </div>
                  <div class="text-center form-group">
                    <button type="submit" class="btn btn-warning" translate>BUTTON-UPDATE-PASSWORD</button>
                    <br>
                    <br>
                  </div>
                  <div class="text-center forgot-password">
                    <a class="a-login" ui-sref="authentication.signup" translate>BUTTON-TEXT-SIGNUP</a>
                    &nbsp;<span translate>LABEL-OR</span>&nbsp;
                    <a class="a-login" ui-sref="home" translate>BUTTON-TEXT-SIGNIN</a>
                  </div>
                </fieldset>
              </form>

            </div>
          </div>
        </div>
        <div class="row">
          <br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</section>
