<section class="row" ng-controller="PasswordController">
  <div class="top-content">
    <div class="bodylogin">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <a href="http://www.mightymerce.com"><img width="100%" alt="mightymerce.com - social commerce" class="" src="/modules/core/client/img/brand/mm_logo_white_high.png"/></a>
          </div>
          <div class="col-sm-9 col-sm-offset-3 text">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
              <div class="form-top-center">
                <a href="#" class="navbar-brand"><img alt="mightymerce.com - social commerce" class="" src="/modules/core/client/img/brand/mm_Logo.png"/></a>
              </div>
              <div class="form-top-left">
                <h2 translate>HEADLINE-SUB-RESETPWD</h2>
              </div>
              <div class="form-top-right">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form>
                <fieldset>
                  <div class="alert alert-success">
                    <p><strong translate>VALIDATION-CHANGED-PWD-SUCCESS</strong></p>
                  </div>

                  <div class="text-center forgot-password">
                    <a class="a-login" ui-sref="home" translate>MESSAGE-CONTINUE-DASHBOARD</a>
                  </div>
                </fieldset>
              </form>

            </div>
          </div>
        </div>
        <div class="row">
          <br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="footerlogin" ng-include="'/modules/core/client/views/footer-login.client.view.html'"></div>
</section>
