<section ng-controller="OrdersController" ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Order </h2><h2 ng-bind="order._id"></h2>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active">
          <strong>Orders</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <form name="orderForm" class="form-horizontal" ng-submit="update(orderForm.$valid)" novalidate>
      <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-credit-card fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Payment Status </span></div>
                <div class="stat-percent text-white"><span data-ng-bind="order.orderPaymentStatus"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 yellow-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-cogs fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Order Status </span></div>
                <div class="stat-percent text-white"><span data-ng-bind="order.orderStatus"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 white-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-calendar fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Payment Date </span></div>
                <div class="stat-percent"><span data-ng-bind="order.orderPaymentDate"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 white-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-feed fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Ordered via </span></div>
                <div class="stat-percent"><span data-ng-bind="order.orderChannel"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Billing Address</h5>
            </div>
            <div class="ibox-content">
              <address>
                <strong>Max Mustermann</strong><br>
                Musterstrasse 5a<br>
                60678 Frankfurt a. M.<br>
                Deutschland<br>
                <abbr title="Phone" class="fa fa-phone"></abbr> +49
              </address>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Shipping Address</h5>
            </div>
            <div class="ibox-content" >
              <address>
                <strong><span data-ng-bind="order.orderShipToName"></span></strong><br>
                  <span data-ng-bind="order.orderShipToStreet"></span><br>
                  <span data-ng-bind="order.orderShipToZip"></span><span data-ng-bind="order.orderShipToCity"></span><br>
                  <span data-ng-bind="order.orderShipToCntryCode"></span><br>
                <abbr title="Phone" class="fa fa-phone"></abbr> +49
              </address>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>eMail Address</h5>
            </div>
            <div class="ibox-content">
              <address>
                <a href="mailto:#" class="fa fa-envelope"> <span data-ng-bind="order.ordereMail"></span></a>
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="widget style1 bg-primary">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-money fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Subtotal </span></div>
                <div class="stat-percent text-white"><span data-ng-bind="order.orderShipToSubtotalAmount"></span> <span data-ng-bind="order.orderShipToCurrencyCode"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 bg-primary">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-truck fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Shipping Costs </span></div>
                <div class="stat-percent text-white"><span data-ng-bind="order.orderShippingCost"></span> <span data-ng-bind="order.orderShipToCurrencyCode"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 bg-primary">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-money fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Total Amount </span></div>
                <div class="stat-percent"><span data-ng-bind="order.orderShipToTotalAmount"></span> <span data-ng-bind="order.orderShipToCurrencyCode"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 bg-primary">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-university fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <div><span> Incl. VAT (</span><span data-ng-bind="order.orderTax"></span><span> %) </span></div>
                <div class="stat-percent"><span data-ng-bind="order.orderTaxAmount"></span> <span data-ng-bind="order.orderShipToCurrencyCode"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div ng-show="order.orderStatus === 'SHIPPED'">
            <a class="btn btn-outline btn-default btn-xs" ng-click="modalreturnOrder('sm', order)">
              Receive Return
            </a>
          </div>
          <div class="ibox-content" ng-show="order.orderStatus !== 'SHIPPED'">
            <a class="btn btn-warning btn-block" ng-click="modalshipOrder('sm', order)">
              Ship order
            </a>
          </div>
          <div class="ibox-content-grey" align="center" ng-show="order.orderStatus === 'SHIPPED'">
            <i class="fa fa-map-marker fa-3x"></i><span> Tracking number </span><strong><span data-ng-bind="order.orderTrackingNo"></span></strong>
          </div>
        </div>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Ordered products</h5>
                <div class="ibox-tools"></div>
              </div>
              <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                  <thead>
                  <tr>
                    <th data-toggle="true"></th>
                    <th data-hide="phone">Product no.</th>
                    <th data-hide="phone">Product title</th>
                    <th data-hide="phone">Product price</th>
                    <th data-hide="phone">Quantity</th>
                    <th class="text-right" data-sort-ignore="true"></th>
                  </tr>
                  </thead>
                  <tbody ui-sref="products.view({productId: product._Id})">
                  <tr>
                    <td><span data-ng-bind=""></span></td>
                    <td><span ng-bind="product.productId"></span></td>
                    <td><span ng-bind="product.productTitle"></span></td>
                    <td><span ng-bind="product.productPrice"></span></td>
                    <td><span ng-bind="order.orderProductQuantity"></span></td>
                    <td><button type="button" class="btn btn-outline btn-default btn-xs" ui-sref="products.edit({productId: product._Id})">Go to product</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Payment Details</h5>
                <div class="ibox-tools"></div>
              </div>
              <div class="ibox-content">
                <div class="form-group"><label class="col-sm-2 control-label">Payment Type</label>
                  <div class="col-sm-4">
                    <label ng-bind="order.orderPaymentType" class="col-sm-2 control-label"></label>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Payment Status</label>
                  <div class="col-sm-4">
                    <label ng-bind="order.orderPaymentStatus" class="col-sm-2 control-label"></label>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Account ID</label>
                  <div class="col-sm-4">
                    <label ng-bind="order.orderPayerID" class="col-sm-2 control-label"></label>
                  </div>
                  <div class="col-sm-2">
                    <div class="tooltip-demo">
                      <button type="button" class="btn btn-default" tooltip-placement="top" tooltip="To verify payment and to process a return open your PayPal account and enter PayPal Account ID of your customer and/or Transaction ID for this order .">i</button>
                    </div>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Transaction ID</label>
                  <div class="col-sm-4">
                    <label ng-bind="order.orderTransactionID" class="col-sm-2 control-label"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
          <div class="col-lg-4">
            <div>
              <a class="btn btn-outline btn-default" ng-click="modalcancelOrder('sm', order)">
                Cancel Order
              </a>
              <button type="button" class="btn btn-outline btn-default" ui-sref="orders.list">Back to order overview</button>
            </div>
          </div>
          <div class="col-lg-8" align="right">
            <div ng-show="order.orderStatus === 'CREATED'">
              <a class="btn btn-warning" ng-click="modalshipOrder('sm', order)">
                Ship order
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
