<section data-ng-controller="OrdersController" ng-init="find()">


  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 translate>BREADCRUMB-ORDER</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="dashboard" translate>BREADCRUMB-HOME</a>
        </li>
        <li class="active">
          <strong translate>BREADCRUMB-ORDER</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>


    <!-- <div class="pull-right" ng-show="authentication.user._id == order.user._id"> -->
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="error" class="alert alert-danger">
              <p ng-bind="error"></p>
            </div>
            <div ng-show="success" class="alert alert-success">
              <p ng-bind="success"></p>
            </div>
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 translate>LABEL-OPEN-ORDERS</h5>
                <div class="ibox-tools"></div>
              </div>
              <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                  <thead>
                    <tr>
                      <th data-toggle="true" translate>LABEL-TABLE-HEADER-ORDER-ID</th>
                      <th data-hide="phone" translate>LABEL-TABLE-HEADER-DATE</th>
                      <th data-hide="phone" translate>LABEL-TABLE-HEADER-CUSTOMER</th>
                      <th data-hide="phone" translate>LABEL-TABLE-HEADER-PAYMENT</th>
                      <th data-hide="phone" translate>LABEL-TABLE-HEADER-ORDER-STATUS</th>
                      <th class="text-right" data-sort-ignore="true"></th>
                    </tr>
                  </thead>
                  <tbody data-ng-repeat="order in orders | orderBy:'-created' | filter: {orderStatus: 'CREATED'}">
                    <tr>
                      <td><span data-ng-bind="order.orderId" ui-sref="orders.view({orderId: order._id})"></span></td>
                      <td><span ng-bind="order.orderDate | date:'mediumDate'"></span></td>
                      <td><span ng-bind="order.orderCustomer"></span></td>
                      <td><span ng-bind="order.orderPayment"></span></td>
                      <td><span ng-bind="order.orderStatus"></span></td>
                      <td>
                        <div ng-show="order.orderStatus === 'SHIPPED'">
                          <a class="btn btn-outline btn-default btn-sm" ng-click="modalreturnOrder('sm', order)" translate>
                            BUTTON-RECEIVE-RETURN
                          </a>
                        </div>
                        <div ng-show="order.orderStatus === 'CREATED'">
                          <a class="btn btn-warning btn-sm" ng-click="modalshipOrder('sm', order)" translate>
                            BUTTON-SHIP-ORDER
                          </a>
                        </div>
                      </td>
                      <td>
                        <div>
                          <a class="btn btn-outline btn-default btn-sm" ui-sref="orders.edit({orderId: order._id})" translate>
                            BUTTON-VIEW-DETAILS
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="alert alert-warning text-center" ng-if="orders.$resolved && !orders.length" translate>
                  MESSAGE-NO-ORDERS-PLACED
                </div>
              </div>
            </div>
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 translate>LABEL-SHIPPED-ORDERS</h5>
                <div class="ibox-tools"></div>
              </div>
              <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                  <thead>
                  <tr>
                    <th data-toggle="true" translate>LABEL-TABLE-HEADER-ORDER-ID</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-DATE</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-CUSTOMER</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-PAYMENT</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-ORDER-STATUS</th>
                    <th class="text-right" data-sort-ignore="true"></th>
                  </tr>
                  </thead>
                  <tbody data-ng-repeat="order in orders | orderBy:'-created' | filter: {orderStatus: 'SHIPPED'}">
                  <tr>
                    <td><span data-ng-bind="order.orderId" ui-sref="orders.view({orderId: order._id})"></span></td>
                    <td><span ng-bind="order.orderDate | date:'mediumDate'"></span></td>
                    <td><span ng-bind="order.orderCustomer"></span></td>
                    <td><span ng-bind="order.orderPayment"></span></td>
                    <td><span ng-bind="order.orderStatus"></span></td>
                    <td>
                      <div>
                        <a class="btn btn-outline btn-default btn-xs" ui-sref="orders.edit({orderId: order._id})" translate>
                          BUTTON-VIEW-DETAILS
                        </a>
                      </div>
                    </td>
                    <td>
                      <div ng-show="order.orderStatus === 'SHIPPED'">
                        <a class="btn btn-outline btn-default btn-xs" ng-click="modalreturnOrder('sm', order)" translate>
                          BUTTON-RECEIVE-RETURN
                        </a>
                      </div>
                      <div ng-show="order.orderStatus === 'CREATED'">
                        <a class="btn btn-warning btn-xs" ng-click="modalshipOrder('sm', order)" translate>
                          BUTTON-SHIP-ORDER
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="alert alert-warning text-center" ng-if="orders.$resolved && !orders.length" translate>
                  MESSAGE-NO-ORDERS-SHIPPED
                </div>
              </div>
            </div>
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 translate>LABEL-RETURNED-ORDERS</h5>
                <div class="ibox-tools"></div>
              </div>
              <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                  <thead>
                  <tr>
                    <th data-toggle="true" translate>LABEL-TABLE-HEADER-ORDER-ID</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-DATE</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-CUSTOMER</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-PAYMENT</th>
                    <th data-hide="phone" translate>LABEL-TABLE-HEADER-ORDER-STATUS</th>
                    <th class="text-right" data-sort-ignore="true"></th>
                  </tr>
                  </thead>
                  <tbody data-ng-repeat="order in orders | orderBy:'-created' | filter: {orderStatus: 'RETURNED'}">
                  <tr>
                    <td><span data-ng-bind="order.orderId" ui-sref="orders.view({orderId: order._id})"></span></td>
                    <td><span ng-bind="order.orderDate | date:'mediumDate'"></span></td>
                    <td><span ng-bind="order.orderCustomer"></span></td>
                    <td><span ng-bind="order.orderPayment"></span></td>
                    <td><span ng-bind="order.orderStatus"></span></td>
                    <td>
                      <div>
                        <a class="btn btn-outline btn-default btn-xs" ui-sref="orders.edit({orderId: order._id})" translate>
                          BUTTON-VIEW-DETAILS
                        </a>
                      </div>
                    </td>
                    <td>
                      <div ng-show="order.orderStatus === 'SHIPPED'">
                        <a class="btn btn-outline btn-default btn-xs" ng-click="modalreturnOrder('sm', order)" translate>
                          BUTTON-RECEIVE-RETURN
                        </a>
                      </div>
                      <div ng-show="order.orderStatus === 'CREATED'">
                        <a class="btn btn-warning btn-xs" ng-click="modalshipOrder('sm', order)" translate>
                          BUTTON-SHIP-ORDER
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="alert alert-warning text-center" ng-if="orders.$resolved && !orders.length" translate>
                  MESSAGE-NO-ORDERS-RETURNED
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

</section>
