<section data-ng-controller="OrdersController">
  <div class="inmodal">
    <div>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <i class="fa fa-exchange modal-icon"></i>
          <h4 class="modal-title" translate>LABEL-RECEIVE-RETURN</h4>
        </div>
        <div class="modal-body-white">
          <p translate>TEXT-NOTE-ADD-ADDITIONAL-CUSTOMER-MESSAGE</p>
          <textarea rows="3" id="cancelOrderMessage" class="form-control" placeholder=""></textarea>
          <br>
        </div>
        <div class="modal-body">
          <span translate>TEXT-NOTE-MAKE-SURE-TO-REFUND-PAYMENT-INFO</span>
          <br>
          <span translate>TEXT-NOTE-RETURN-CONFIRMATION</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" ng-click="$dismiss()" translate>BUTTON-CANCEL</button>
          <button type="button" class="btn btn-primary" ng-click="cancelOrder()" translate>BUTTON-RECEIVE-RETURN</button>
        </div>
      </div>
    </div>
  </div>
</section>

