<section data-ng-controller="OrdersController">
  <div class="inmodal">
    <div>
      <div class="modal-content">
        <form name="orderUpdateForm" class="form-horizontal" ng-submit="update(orderUpdateForm.$valid)" novalidate>
          <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i class="fa fa-cogs modal-icon"></i>
            <h4 class="modal-title" translate>LABEL-SHIP-ORDER</h4>
          </div>
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
          <div class="modal-body-white">
            <p translate>TEXT-NOTE-TRACKING-ID-LINK</p>
            <input ng-model="orderTrackingNo" id="orderTrackingNo" class="form-control" placeholder="">
          </div>
          <div class="modal-body-white">
            <p translate>TEXT-NOTE-ADD-ADDITIONAL-CUSTOMER-MESSAGE</p>
            <textarea rows="3" ng-model="ordereMailCustomerShipMessage" id="ordereMailCustomerShipMessage" class="supertext" placeholder="" rows="10"></textarea>
            <br>
          </div>
          <div class="modal-body">
            <span translate>TEXT-NOTE-SHIPPING-NOTE-CUSTOMER-RECEIVE</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="$dismiss()" translate>BUTTON-CANCEL</button>
            <button type="submit" class="btn btn-primary" translate>BUTTON-YES-SHIP-ORDER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

