<section ng-controller="ProductsController">

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
      <h2>Products</h2>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <strong>Products</strong>
        </li>
        <li class="active">
          <strong>Create</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-8">
      <h2>I</h2>
      <div align="right">
        <button class="btn btn-default" type="button">
          <i class="fa fa-edit"> </i> product details
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-edit"> </i> product media
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-edit"> </i> product channels
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-edit"> </i> product posts
        </button>
      </div>
    </div>
  </div>

  <form name="productForm" class="form-horizontal" ng-submit="create(productForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Describe your product</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label">Is in stock*</label>
                <div class="col-sm-8">
                  <div class="switch">
                    <div class="onoffswitch">
                      <input type="checkbox" checked class="onoffswitch-checkbox" id="productItemInStock">
                      <label class="onoffswitch-label" for="productItemInStock">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">ID*</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="productId" id="productId" class="form-control" placeholder="" required></div>
                <div ng-messages="productForm.productId.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Products ID is required.</p>
                </div>
                <div class="col-sm-2">
                  <div class="tooltip-demo">
                    <button type="button" class="btn btn-default" tooltip-placement="top" tooltip="If your item is no longer in stock, the product will still be visible in the posted channels - but not buyable for the customer. In case the item is backordered, you might want to add a note for your customers in the title or description field.">i</button>
                  </div>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Title*</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="productTitle" id="productTitle" class="form-control" placeholder="" required></div>
                <div ng-messages="productForm.productTitle.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Products title is required.</p>
                </div>
                <div class="col-sm-2">
                  <div class="tooltip-demo">
                    <button type="button" class="btn btn-default" tooltip-placement="top" tooltip="Any information about brand, colour, or size of the product should be added to the title separated by comma. Please make sure, that you don’t use one of the following special signs: /[^\p{L}\p {Nd}\p{P}\p{Sm}\p{Zs}™©®]/u. The characters %, :, & and + can only be used once.">i</button>
                  </div>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Description*</label>
                <div class="col-sm-8"><textarea ng-model="productDescription" id="productDescription" class="form-control" placeholder="" rows="10" required></textarea></div>
                <div ng-messages="productForm.productDescription.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Products description is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Set the price of your product</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label">Price*</label>
                <div class="col-sm-8"><input type="text" class="form-control" ng-model="productPrice" id="productPrice" placeholder="" required></div>
                <div class="col-sm-2"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Tax*</label>
                <div class="col-sm-8">
                  <select class="form-control" name="productTax" id="productTax" ng-model="productTax" required>
                    <option ng-repeat="option in productTax" value="{{option._id}}">{{option.taxRate}}</option>
                  </select>
                </div>
                <div ng-messages="productForm.productTax.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Products tax is required.</p>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Currency*</label>
                <div class="col-sm-8">
                  <select class="form-control" name="productCurrency" id="productCurrency" ng-model="productCurrency" required>
                    <option ng-repeat="option in productCurrency" value="{{option._id}}">{{option.currencyCode}}</option>
                  </select>
                </div>
                <div ng-messages="productForm.productCurrency.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Products currency is required.</p>
                </div>
              </div>
              <div class="form-group" ng-show="false"><label class="col-sm-2 control-label">Sale Price</label>
                <div class="col-sm-8"><input type="text" ng-model="productSaleprice" id="productSaleprice" class="form-control" placeholder=""></div>
                <div class="col-sm-2"></div>
              </div>
              <div class="form-group" ng-show="false"><label class="col-sm-2 control-label">Sale Price Validity</label>
                <div class="col-sm-4">
                  <div class="input-group date">
                    <input type="datetime" class="form-control" id="productSalepricefrom" date-time ng-model="productSalepricefrom" view="date" auto-close="true" placeholder="From">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group date">
                    <input type="datetime" class="form-control" id="productSalepriceuntil" date-time ng-model="productSalepriceuntil" view="date" auto-close="true" placeholder="From">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Select applicable shipping option for your product</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <fieldset class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">Shipping Option*</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="productShippingoption" id="productShippingoption" ng-model="productShippingoption" required>
                      <option ng-repeat="option in productShippingoption" value="{{option._id}}">{{option.deliveryTitle}} - {{option.deliveryTime}}</option>
                    </select>
                  </div>
                  <div ng-messages="productForm.productShippingoption.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Products Shipping option is required.</p>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div align="right">
              <button type="submit" class="btn btn-w-m btn-warning" value="Create product">Create product</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>

</section>
