<section>
<div class="inmodal" ng-controller="ProductsController">
  <div>
    <div class="modal-content">
      <form name="postForm" class="form-horizontal" ng-submit="postPost(postForm.$valid)" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-ng-click="ok()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Maintain data for Facebook</h4>
          <br>
          <div>
            <i class="fa fa-facebook-f modal-icon"></i>
          </div>
        </div>
        <div class="modal-body-white">
          <div class="modal-body">
            <span>Main Image</span>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-content">
                  <div class="col-md-6">
                    <div class="image-crop">
                      <img src="img/p3.jpg">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h4>Preview image</h4>
                    <div class="img-preview img-preview-sm"></div>
                    <h4>Comon method</h4>
                    <p>
                      You can upload new image to crop container and easy download new cropped image.
                    </p>
                    <div class="btn-group">
                      <label title="Upload image file" for="inputImage" class="btn btn-primary">
                        <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                        Upload new image
                      </label>
                      <label title="Donload image" id="download" class="btn btn-primary">Download</label>
                    </div>
                    <h4>Other method</h4>
                    <p>
                      You may set cropper options with <code>$({image}).cropper(options)</code>
                    </p>
                    <div class="btn-group">
                      <button class="btn btn-white" id="zoomIn" type="button">Zoom In</button>
                      <button class="btn btn-white" id="zoomOut" type="button">Zoom Out</button>
                      <button class="btn btn-white" id="rotateLeft" type="button">Rotate Left</button>
                      <button class="btn btn-white" id="rotateRight" type="button">Rotate Right</button>
                      <button class="btn btn-warning" id="setDrag" type="button">New crop</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <span><strong>Please note if you have already posted the product: </strong></span>
            <br><br>
            <span>Any changes made to the product details and medias will be updated in all selected channels to which the product has been posted - except for facebook.</span>
            <br><br>
            <span>If you want changes to appear on facebook, you’ll need to post the product again. </span>
          </div>
          <div ng-show="error" class="alert alert-success">
            <strong ng-bind="error"></strong>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <div class="row">
              <div class="col-sm-4" align="left">
                <button type="button" class="btn btn-white" data-dismiss="modal" data-ng-click="ok()">Close</button>
              </div>
              <div class="col-sm-8">
                <button type="button" class="btn btn-warning" data-ng-click="postPostPinterest">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

<script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));

  $(document).ready(function(){

    var $image = $(".image-crop > img")
    $($image).cropper({
      aspectRatio: 1.618,
      preview: ".img-preview",
      done: function(data) {
        // Output the result data for cropping image.
      }
    });

    var $inputImage = $("#inputImage");
    if (window.FileReader) {
      $inputImage.change(function() {
        var fileReader = new FileReader(),
          files = this.files,
          file;

        if (!files.length) {
          return;
        }

        file = files[0];

        if (/^image\/\w+$/.test(file.type)) {
          fileReader.readAsDataURL(file);
          fileReader.onload = function () {
            $inputImage.val("");
            $image.cropper("reset", true).cropper("replace", this.result);
          };
        } else {
          showMessage("Please choose an image file.");
        }
      });
    } else {
      $inputImage.addClass("hide");
    }

    $("#download").click(function() {
      window.open($image.cropper("getDataURL"));
    });

    $("#zoomIn").click(function() {
      $image.cropper("zoom", 0.1);
    });

    $("#zoomOut").click(function() {
      $image.cropper("zoom", -0.1);
    });

    $("#rotateLeft").click(function() {
      $image.cropper("rotate", 45);
    });

    $("#rotateRight").click(function() {
      $image.cropper("rotate", -45);
    });

    $("#setDrag").click(function() {
      $image.cropper("setDragMode", "crop");
    });

  });

</script>

