<section ng-controller="ProductsController" ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">

    <div class="h3">
      <span translate>BREADCRUMB-PRODUCTS</span> /
        <span>
          <strong translate>BREADCRUMB-EDIT-PRODUCTS</strong>
        </span>
    </div>
  </div>
<br><br>
  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
      <div class="col-lg-4">
        <a class="btn btn-primary btn-outline btn-block" style="border-width: 2px" translate>BUTTON-TAB-MAIN-DATA</a>
      </div>
      <div class="col-lg-4">
        <a ui-sref="products.editmedia({productId: product._id})" class="btn btn-primary btn-outline btn-block" translate>BUTTON-TAB-IMAGES</a>
      </div>
      <div class="col-lg-4">
        <a ui-sref="products.view({productId: product._id})" class="btn btn-primary btn-outline btn-block" translate>BUTTON-TAB-POSTS</a>
      </div>
    </div>
  </div>

<form name="productForm" class="form-horizontal" ng-submit="update(productForm.$valid)">
  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3 translate>LABEL-PRODUCT-ACTIVE-ON</h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <div class="col-xs-2">
            <div ng-show="facebookPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-facebook fa-2x"></i><span> Posts: <strong>{{ facebookPostsNo }}</strong></span>
            </div>
            <div ng-show="!facebookPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-facebook fa-2x"></i><span> Posts: <strong>{{ facebookPostsNo }}</strong></span>
            </div>
          </div>
          <div class="col-xs-2">
            <div ng-show="pinterestPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-pinterest fa-2x"></i><span> Pins: <strong>{{ pinterestPostsNo }}</strong></span>
            </div>
            <div ng-show="!pinterestPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-pinterest fa-2x"></i><span> Pins: <strong>{{ pinterestPostsNo }}</strong></span>
            </div>
          </div>
          <div class="col-xs-2">
            <div  ng-show="twitterPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-twitter fa-2x"></i><span> Tweets: <strong>{{ twitterPostsNo }}</strong></span>
            </div>
            <div  ng-show="!twitterPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-twitter fa-2x"></i><span> Tweets: <strong>{{ twitterPostsNo }}</strong></span>
            </div>
          </div>
          <div class="col-xs-2">
            <div  ng-show="instagramPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-instagram fa-2x"></i><span> Comment: <strong>{{ instagramPostsNo }}</strong></span>
            </div>
            <div  ng-show="!instagramPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-instagram fa-2x"></i><span> Comment: <strong>{{ instagramPostsNo }}</strong></span>
            </div>
          </div>
          <div class="col-xs-2">
            <div ng-show="codeSnippetPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-code fa-2x"></i><span> Posts: <strong>{{ codeSnippetPostsNo }}</strong></span>
            </div>
            <div ng-show="!codeSnippetPostsAvailable" class="widget style1 btn-default" align="center">
              <i class="fa fa-code fa-2x"></i><span> Posts: <strong>{{ codeSnippetPostsNo }}</strong></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3 translate>LABEL-DESCRIBE-YOUR-PRODUCT</h3>
      </div>
      <div class="ibox-content">
        <div class="container">

          <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-IN-STOCK</span>*</label>
            <div class="col-sm-8">
              <div class="switch">
                <div class="onoffswitch">
                  <input type="checkbox" class="onoffswitch-checkbox" id="productItemInStock" ng-model="product.productItemInStock" ng-true-value="1" ng-false-value="0">
                  <label class="onoffswitch-label" for="productItemInStock">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="tooltip-demo">
                <button type="button" class="btn btn-default" tooltip-placement="top" uib-tooltip="{{'LABEL-TOOLTIP-ITEM-NO-LONGER-IN-STOCK' | translate}}">i</button>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors><label class="col-sm-2 control-label"><span translate>LABEL-IN-ID</span> *</label>
            <div class="col-sm-8">
              <input type="text" name="productId" ng-model="product.productId" id="productId" class="form-control" placeholder="" required></div>
            <div ng-messages="productForm.productId.$error" role="alert">
              <p class="help-block error-text" ng-message="required"><span translate>VALIDATION-PRODUCT-ID-REQ</span></p>
            </div>
          </div>
          <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-TITLE</span> *</label>
            <div class="col-sm-8">
              <input type="text" ng-model="product.productTitle" id="productTitle" class="form-control" placeholder="" required ng-maxlength="{{ maxLengthTitle }}"></div>
            <div>
              <p class="help-block error-text" ng-show="productForm.productTitle.$touched && productForm.productTitle.$error.required" role="alert"><span translate>VALIDATION-PRODUCT-TITLE-REQ</span></p>
              <p class="help-block error-text" ng-show="productForm.productTitle.$touched && productForm.productTitle.$error.maxlength" role="alert"><span translate>VALIDATION-PRODUCT-TITLE-TO-LONG</span></p>
            </div>
            <div class="col-sm-2">
              <div class="tooltip-demo">
                <button type="button" class="btn btn-default" tooltip-placement="top" uib-tooltip="{{'LABEL-TOOLTIP-PRODUCT-TITLE' | translate}}">i</button>
              </div>
              <div ng-show="charCorrectTitle">
                <span>Zeichen verfügbar: {{ remainingTitleEditProduct() }}</span>
              </div>
              <div ng-hide="charCorrectTitle">
                <span class="error-text">Zeichen verfügbar: {{ remainingTitleEditProduct() }}</span>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors><label class="col-sm-2 control-label"><span translate>LABEL-DESCRIPTION</span> *</label>
            <div class="col-sm-8">
              <textarea name="productDescription" ng-model="product.productDescription" id="productDescription" class="supertext" placeholder="" rows="10" required ng-maxlength="{{ maxLengthDescription }}"></textarea>
            </div>
            <div >
              <p class="help-block error-text" ng-show="productForm.productDescription.$touched && productForm.productDescription.$error.required" role="alert"><span translate>VALIDATION-PRODUCT-DESCRIPTION-REQ</span></p>
              <p class="help-block error-text" ng-show="productForm.productDescription.$touched && productForm.productDescription.$error.maxlength" role="alert"><span translate>VALIDATION-PRODUCT-DESCRIPTION-TO-LONG</span></p>
            </div>
            <div class="col-sm-2">
              <div class="tooltip-demo">
                <button type="button" class="btn btn-default" tooltip-placement="top" uib-tooltip="{{'LABEL-TOOLTIP-PRODUCT-DESCRIPTION' | translate}}">i</button>
              </div>
              <div ng-show="charCorrectDescription">
                <span>Zeichen verfügbar: {{ remaining() }}</span>
              </div>
              <div ng-hide="charCorrectDescription">
                <span class="error-text">Zeichen verfügbar: {{ remaining() }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3 translate>LABEL-SET-PRICE-PRODUCT</h3>
      </div>
      <div class="ibox-content">
        <div class="container">

          <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-PRICE</span> *</label>
            <div class="col-sm-8"><input type="text" pattern="[0-9]+([,][0-9]+)*" class="form-control" ng-model="product.productPrice" id="productPrice" placeholder="" required></div>
            <div class="col-sm-2">
              <div class="tooltip-demo">
                <button type="button" class="btn btn-default" tooltip-placement="top" uib-tooltip="{{'LABEL-TOOLTIP-PRODUCT-PRICE' | translate}}">i</button>
              </div>
            </div>
          </div>
          <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-CURRENCY</span> *</label>
            <div class="col-sm-8">
              <input type="text" ng-model="productCurrency.currencyCode" ng-value="productCurrency._id" id="productCurrency" class="form-control" placeholder="" disabled>
              <!-- <select class="form-control" name="productCurrency" id="productCurrency" ng-model="product.productCurrency" required>
                <option ng-repeat="option in productCurrency" value="{{option._id}}">{{option.currencyCode}}</option>
              </select> -->
            </div>
          </div>
          <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-TAX</span> *</label>
            <div class="col-sm-8">
              <select class="form-control" name="productTax" id="productTax" ng-model="product.productTax" required>
                <option ng-repeat="option in productTax" value="{{option._id}}">{{option.taxRate}} %</option>
              </select>
            </div>
            <div ng-messages="productForm.productTax.$error" role="alert">
              <p class="help-block error-text" ng-message="required"><span translate>VALIDATION-PRODUCT-TAX-REQ</span></p>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="form-group" ng-show="false"><label class="col-sm-2 control-label">Sale Price</label>
            <div class="col-sm-8"><input type="text" ng-model="product.productSaleprice" id="productSaleprice" class="form-control" placeholder=""></div>
            <div class="col-sm-2"></div>
          </div>
          <div class="form-group" ng-show="false"><label class="col-sm-2 control-label">Sale Price Validity</label>
            <div class="col-sm-4">
              <div class="input-group date">
                <input type="datetime" class="form-control" id="product.productSalepricefrom" date-time ng-model="productSalepricefrom" view="date" auto-close="true" placeholder="From">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group date">
                <input type="datetime" class="form-control" id="productSalepriceuntil" date-time ng-model="product.productSalepriceuntil" view="date" auto-close="true" placeholder="From">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3 translate>LABEL-SELECT-SHIPPING-OPTION</h3>
      </div>
      <div class="ibox-content">
        <div class="container">

          <fieldset class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-SHIPPING-OPTION</span> *</label>
              <div class="col-sm-8">
                <select class="form-control" name="productShippingoption" id="productShippingoption" ng-model="productShippingoption" ng-options="item.deliveryTitle for item in items" required>
                  <!-- <option ng-repeat="option in productShippingoption">{{option.deliveryTitle}} - {{option.deliveryTime}}</option> -->
                </select>
              </div>
              <div ng-messages="productForm.productShippingoption.$error" role="alert">
                <p class="help-block error-text" ng-message="required"><span translate>VALIDATION-PRODUCT-SHIPPING-OPTION-REQ</span></p>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </fieldset>

        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div ng-show="error" class="alert alert-danger">
      <p ng-bind="error"></p>
    </div>
    <div ng-show="success" class="alert alert-success">
      <p ng-bind="success"></p>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div align="right">
        <button type="submit" class="btn btn-w-m btn-primary" value="Create product" translate>BUTTON-UPDATE-PRODUCT</button>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div>
        <span><strong translate>NOTE-ALREADY-POSTED-PRODUCT</strong></span>
        <span translate>NOTE-UPDATE-PRODUCT-CHANGES-IN-CHANNELS</span>
      </div>
    </div>
  </div>

  <br><br><br><br><br>


</form>

  <br><br><br><br><br><br>
  <div class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>

</section>
