<section ng-controller="ProductsController" ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
      <h2>Edit product</h2>
      <ol class="breadcrumb">
        <li>
          <a href="dashboard">Home</a>
        </li>
        <li>
          <a href="products">Products</a>
        </li>
        <li>
          <a href="">Edit product</a>
        </li>
        <li class="active">
          <strong>Main data</strong>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="wrapper wrapper-content">
      <div class="col-lg-12">
        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" ui-sref="products.edit({productId: product._id})">Main data</a></li>
            <li class=""><a data-toggle="tab" ui-sref="products.editmedia({productId: product._id})">Images</a></li>
            <li class="" ng-hide="true"><a data-toggle="tab" ui-sref="products.editchannel({productId: product._id})">Sales channel data</a></li>
            <li class=""><a data-toggle="tab" ui-sref="products.view({productId: product._id})">Posts &nbsp;&nbsp;&nbsp;<span class="label label-warning">NEW</span></a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <form name="productForm" class="form-horizontal" ng-submit="update(productForm.$valid)" novalidate>
                  <div class="row">
                    <div class="wrapper wrapper-content">
                      <div class="col-lg-12">
                        <div ng-show="error" class="alert alert-danger">
                          <p ng-bind="error"></p>
                        </div>
                        <div ng-show="success" class="alert alert-success">
                          <p ng-bind="success"></p>
                        </div>

                        <div class="ibox float-e-margins">
                          <div class="ibox float-e-margins">
                            <div class="ibox-title">
                              <h3>Product is active on: </h3>
                              <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                              <div class="row">
                                <div class="col-xs-2">
                                  <div ng-show="facebookPostsAvailable" class="widget style1 navy-bg" align="center">
                                    <i class="fa fa-facebook fa-3x"></i><span> Posts: <strong>{{ facebookPostsNo }}</strong></span>
                                  </div>
                                  <div ng-show="!facebookPostsAvailable" class="widget style1 red-bg" align="center">
                                    <i class="fa fa-facebook fa-3x"></i><span> Posts: <strong>{{ facebookPostsNo }}</strong></span>
                                  </div>
                                </div>
                                <div class="col-xs-2">
                                  <div ng-show="pinterestPostsAvailable" class="widget style1 navy-bg" align="center">
                                    <i class="fa fa-pinterest fa-3x"></i><span> No. Pins: <strong>{{ pinterestPostsNo }}</strong></span>
                                  </div>
                                  <div ng-show="!pinterestPostsAvailable" class="widget style1 red-bg" align="center">
                                    <i class="fa fa-pinterest fa-3x"></i><span> Pins: <strong>{{ pinterestPostsNo }}</strong></span>
                                  </div>
                                </div>
                                <div class="col-xs-2">
                                  <div class="widget style1 gray-bg" align="center">
                                    <i class="fa fa-twitter fa-3x"></i><span> Tweets: <strong>0</strong></span>
                                  </div>
                                </div>
                                <div class="col-xs-2">
                                  <div class="widget style1 gray-bg" align="center">
                                    <i class="fa fa-instagram fa-3x"></i><span> Comments: <strong>0</strong></span>
                                  </div>
                                </div>
                                <div class="col-xs-2">
                                  <div class="widget style1 gray-bg" align="center">
                                    <i class="fa fa-google-plus fa-3x"></i><span> Posts: <strong>0</strong></span>
                                  </div>
                                </div>
                                <div class="col-xs-2">
                                  <div ng-show="codeSnippetPostsAvailable" class="widget style1 navy-bg" align="center">
                                    <i class="fa fa-code fa-3x"></i><span> Posts: <strong>{{ codeSnippetPostsNo }}</strong></span>
                                  </div>
                                  <div ng-show="!codeSnippetPostsAvailable" class="widget style1 red-bg" align="center">
                                    <i class="fa fa-code fa-3x"></i><span> Posts: <strong>{{ codeSnippetPostsNo }}</strong></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="ibox float-e-margins">
                          <div class="ibox-title">
                            <h3>Describe your product</h3>
                            <div class="ibox-tools"></div>
                          </div>
                          <div class="ibox-content">
                            <div class="form-group"><label class="col-sm-2 control-label">Is in stock*</label>
                              <div class="col-sm-8">
                                <div class="switch">
                                  <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="productItemInStockTest"  ng-model="product.productItemInStock" ng-true-value="'1'" ng-true-false="'0'">
                                    <label class="onoffswitch-label" for="productItemInStockTest">
                                      <span class="onoffswitch-inner"></span>
                                      <span class="onoffswitch-switch"></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="tooltip-demo">
                                  <button type="button" class="btn btn-default" tooltip-placement="top" tooltip="If your item is no longer in stock, the product will still be visible in the posted channels - but not buyable for the customer. In case the item is backordered, you might want to add a note for your customers in the title or description field.">i</button>
                                </div>
                              </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">ID*</label>
                              <div class="col-sm-8">
                                <input type="text" ng-model="product.productId" id="productId" class="form-control" placeholder="" required></div>
                              <div ng-messages="productForm.productId.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Products ID is required.</p>
                              </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Title*</label>
                              <div class="col-sm-8">
                                <input type="text" ng-model="product.productTitle" id="productTitle" class="form-control" placeholder="" required ng-maxlength="70"></div>
                              <div ng-messages="productForm.productTitle.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Products title is required.</p>
                              </div>
                              <div class="col-sm-2">
                                <div class="tooltip-demo">
                                  <button type="button" class="btn btn-default" tooltip-placement="top" tooltip="Any information about brand, colour, or size of the product should be added to the title separated by comma. Please make sure, that you don’t use one of the following special signs: /[^\p{L}\p {Nd}\p{P}\p{Sm}\p{Zs}™©®]/u. The characters %, :, & and + can only be used once.">i</button>
                                </div>
                              </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Description*</label>
                              <div class="col-sm-8"><textarea ng-model="product.productDescription" id="productDescription" class="supertext" placeholder="" rows="10" required ng-maxlength="250"></textarea></div>
                              <div ng-messages="productForm.productDescription.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Products description is required.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                          <div class="ibox-title">
                            <h3>Set the price of your product</h3>
                            <div class="ibox-tools"></div>
                          </div>
                          <div class="ibox-content">
                            <div class="form-group"><label class="col-sm-2 control-label">Price*</label>
                              <div class="col-sm-8"><input type="text" pattern="[0-9]+([.][0-9]+)*" class="form-control" ng-model="product.productPrice" id="productPrice" placeholder="" required></div>
                              <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Tax*</label>
                              <div class="col-sm-8">
                                <select class="form-control" name="productTax" id="productTax" ng-model="product.productTax" required>
                                  <option ng-repeat="option in productTax" value="{{option._id}}">{{option.taxRate}} %</option>
                                </select>
                              </div>
                              <div ng-messages="productForm.productTax.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Products tax is required.</p>
                              </div>
                              <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Currency*</label>
                              <div class="col-sm-8">
                                <select class="form-control" name="productCurrency" id="productCurrency" ng-model="product.productCurrency" required>
                                  <option ng-repeat="option in productCurrency" value="{{option._id}}">{{option.currencyCode}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group" ng-show="false"><label class="col-sm-2 control-label">Sale Price</label>
                              <div class="col-sm-8"><input type="text" ng-model="product.productSaleprice" id="productSaleprice" class="form-control" placeholder=""></div>
                              <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group" ng-show="false"><label class="col-sm-2 control-label">Sale Price Validity</label>
                              <div class="col-sm-4">
                                <div class="input-group date">
                                  <input type="datetime" class="form-control" id="product.productSalepricefrom" date-time ng-model="productSalepricefrom" view="date" auto-close="true" placeholder="From">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="input-group date">
                                  <input type="datetime" class="form-control" id="productSalepriceuntil" date-time ng-model="product.productSalepriceuntil" view="date" auto-close="true" placeholder="From">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                              </div>
                              <div class="col-sm-2"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                          <div class="ibox-title">
                            <h3>Select applicable shipping option for your product</h3>
                            <div class="ibox-tools"></div>
                          </div>
                          <div class="ibox-content">
                            <fieldset class="form-horizontal">
                              <div class="form-group"><label class="col-sm-2 control-label">Shipping Option*</label>
                                <div class="col-sm-8">
                                  <select class="form-control" name="productShippingoption" id="productShippingoption" ng-model="product.productShippingoption" required>
                                    <option ng-repeat="option in productShippingoption" value="{{option._id}}">{{option.deliveryTitle}} - {{option.deliveryTime}}</option>
                                  </select>
                                </div>
                                <div ng-messages="productForm.productShippingoption.$error" role="alert">
                                  <p class="help-block error-text" ng-message="required">Products tax is required.</p>
                                </div>
                                <div class="col-sm-4"></div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                          <div align="right">
                            <button type="submit" class="btn btn-w-m btn-warning" value="Create product">Update product</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                          <div>
                            <span><strong>Please note if you have already posted the product:</strong>
                              Any changes made to the product details and medias will be updated in all selected channels to which the product has been posted - except for facebook.
                              If you want changes to appear on facebook, you’ll need to post the product again. </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>



</section>
