<section ng-controller="ProductsMediaController" id="productsMediaControllerID" nv-file-drop="" uploader="uploader" ng-init="findOne()">

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
      <h2 translate>BREADCRUMB-EDIT-PRODUCTS</h2>
    </div>
    <div class="col-lg-8" align="right">
      <br><br>
      <ol class="breadcrumb">
        <li>
          <a href="products" translate>BREADCRUMB-PRODUCTS</a>
        </li>
        <li class="active">
          <strong translate>BREADCRUMB-EDIT-PRODUCTS</strong>
        </li>
      </ol>
    </div>
  </div>

  <br><br>
  <div class="row wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="col-lg-4">
      <a class="btn btn-primary btn-block btn-outline" ui-sref="products.edit({productId: product._id})" translate>BUTTON-TAB-MAIN-DATA</a>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-primary btn-block btn-outline" style="border-width: 2px" translate>BUTTON-TAB-IMAGES</a>
    </div>
    <div class="col-lg-4" ng-hide="imagesMaintained">
      <a class="btn btn-default btn-outline btn-block" translate>BUTTON-TAB-POSTS</a>
    </div>
    <div class="col-lg-4" ng-show="imagesMaintained">
      <a class="btn btn-primary btn-outline btn-block" ui-sref="products.view({productId: product._id})" translate>BUTTON-TAB-POSTS</a>
    </div>

  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce" ng-show="imagesMaintained">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3><span translate>LABEL-STEP-FINALLY-EXPLANATION</span></h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><span translate>LABEL-MAIN-IMAGE</span></th>
              <th><i class="fa fa-facebook"></i>&nbsp;<span>Facebook</span></th>
              <th><i class="fa fa-pinterest"></i>&nbsp;<span>Pinterest</span></th>
              <th><i class="fa fa-twitter"></i>&nbsp;<span>Twitter</span></th>
              <th><i class="fa fa-code"></i>&nbsp;<span>HTML</span></th>
              <th><i class="fa fa-instagram"></i>&nbsp;<span>Instagram</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><div><img ng-src="{{product.productMainImageURL}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLFacebook}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLPinterest}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLTwitter}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLCode}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.instagramImagesThumbnailUrl}}" class="product-images-list">
                <br><a class="btn btn-xs btn-warning btn-outline" ng-click="modalupdateProductPost('md', product, 'Instagram', 'New', '00.00.0000')"><i class="fa fa-instagram"></i>&nbsp;<span translate>BUTTON-ADD-IMAGE</span></a></div></td>
            </tr>
            <tr ng-hide="true">
              <td><div><img ng-src="{{product.productFurtherImage1URL}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLFacebook}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLPinterest}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLTwitter}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLCode}}" class="product-images-list"></div></td>
              <td><div><span translate>LABEL-SOON-AVAILABLE</span></div></td>
            </tr>
            <tr ng-hide="true">
              <td><div><img ng-src="{{product.productFurtherImage2URL}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLFacebook}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLPinterest}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLTwitter}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLCode}}" class="product-images-list"></div></td>
              <td><div><span translate>LABEL-SOON-AVAILABLE</span></div></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3><span translate>LABEL-STEP1</span>&nbsp;<span translate>LABEL-STEP1-EXPLANATION</span></h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <label ng-show="selectImage" title="Upload image file" for="inputImage" class="btn btn-warning btn-block btn-file">
            <span translate>LABEL-STEP1-EXPLANATION</span><input type="file" accept="image/*" name="file" id="inputImage" class="hide" nv-file-select uploader="uploader">
          </label>
          <label ng-hide="selectImage" title="You have not selected the images you'd like to maintain." class="btn btn-default btn-block">
            <span translate>BUTTON-SELECT-IMAGE</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3><span translate>LABEL-STEP2</span>&nbsp;<span translate>LABEL-STEP2-EXPLANATION</span></h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="fa fa-facebook"></i>&nbsp;&nbsp;<span>Facebook</span></h4>
              </div>
              <div class="panel-body">

                <!-- Content -->
                <div class="container col-md-12">
                  <div class="row">
                    <!-- <h3 class="page-header">Demo:</h3> -->
                    <div class="img-container">
                      <img src="../../../../modules/products/client/img/photo_not_available.png" alt="Picture">
                    </div>
                  </div>
                  <div class="row" id="actions">
                    <div class="docs-buttons">
                      <!-- <h3 class="page-header">Toolbar:</h3> -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="0.1" title="Zoom In">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(0.1)">
                                    <span class="fa fa-search-plus"></span>
                                  </span>
                        </button>
                        <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(-0.1)">
                                    <span class="fa fa-search-minus"></span>
                                  </span>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="-45" title="Rotate Left"><span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(-45)">
                                    <span class="fa fa-rotate-left"></span>
                                </span>
                        </button>
                        <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="45" title="Rotate Right">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(45)">
                                    <span class="fa fa-rotate-right"></span>
                                  </span>
                        </button>
                      </div>
                      <div class="btn-group btn-group-crop" ng-hide="true">
                        <button type="button" class="btn btn-primary" data-method="getCroppedCanvas">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas()">
                                    Get Cropped Canvas
                                  </span>
                        </button>
                      </div>
                    </div><!-- /.docs-buttons -->
                    <div class="col-md-3 docs-toggles" ng-hide="true">
                      <!-- <h3 class="page-header">Toggles:</h3> -->
                      <!-- /.dropdown -->
                    </div><!-- /.docs-toggles -->
                  </div>
                  <div class="row">
                    <div>
                      <h4 translate>LABEL-PREVIEW-IMAGE</h4>
                      <br>
                    </div>
                    <!-- <h3 class="page-header">Preview:</h3> -->
                    <div class="docs-preview clearfix">
                      <div ng-hide="false" class="img-preview preview-lg"></div>
                      <div ng-hide="true" class="img-preview preview-md"></div>
                      <div ng-hide="true" class="img-preview preview-sm"></div>
                      <div ng-hide="true" class="img-preview preview-xs"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div>
                      <p translate>LABEL-BEST-FIT-FACEBOOK</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
              </div>
            </div>
          </div>

          <!-- Pinterest -->
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="fa fa-pinterest"></i>&nbsp;&nbsp;<span>Pinterest</span></h4>
              </div>
              <div class="panel-body">

                <!-- Content -->
                <div class="container col-md-12">
                  <div class="row">
                    <!-- <h3 class="page-header">Demo:</h3> -->
                    <div class="img-container-facebook">
                      <img src="../../../../modules/products/client/img/photo_not_available.png" alt="Picture">
                    </div>
                  </div>
                  <div class="row" id="actionsfacebook">
                    <div class="docs-buttons">
                      <!-- <h3 class="page-header">Toolbar:</h3> -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="0.1" title="Zoom In">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(0.1)">
                                    <span class="fa fa-search-plus"></span>
                                  </span>
                        </button>
                        <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(-0.1)">
                                    <span class="fa fa-search-minus"></span>
                                  </span>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="-45" title="Rotate Left"><span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(-45)">
                                    <span class="fa fa-rotate-left"></span>
                                </span>
                        </button>
                        <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="45" title="Rotate Right">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(45)">
                                    <span class="fa fa-rotate-right"></span>
                                  </span>
                        </button>
                      </div>
                      <div class="btn-group btn-group-crop" ng-hide="true">
                        <button type="button" class="btn btn-primary" data-method="getCroppedCanvas">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas()">
                                    Get Cropped Canvas
                                  </span>
                        </button>
                      </div>
                    </div><!-- /.docs-buttons -->
                    <div class="col-md-3 docs-toggles" ng-hide="true">
                      <!-- <h3 class="page-header">Toggles:</h3> -->
                      <!-- /.dropdown -->
                    </div><!-- /.docs-toggles -->
                  </div>
                  <div class="row">
                    <div>
                      <h4 translate>LABEL-PREVIEW-IMAGE</h4>
                      <br>
                    </div>
                    <!-- <h3 class="page-header">Preview:</h3> -->
                    <div class="docs-preview clearfix">
                      <div class="img-preview-facebook preview-lg"></div>
                      <div ng-hide="true" class="img-preview preview-md"></div>
                      <div ng-hide="true" class="img-preview preview-sm"></div>
                      <div ng-hide="true" class="img-preview preview-xs"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div>
                      <p translate>LABEL-BEST-FIT-PINTEREST</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
              </div>
            </div>
          </div>

          <!-- TWitter -->
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="fa fa-twitter"></i>&nbsp;&nbsp;<span>Twitter</span></h4>
              </div>
              <div class="panel-body">

                <!-- Content -->
                <div class="container col-md-12">
                  <div class="row">
                    <!-- <h3 class="page-header">Demo:</h3> -->
                    <div class="img-container-twitter">
                      <img src="../../../../modules/products/client/img/photo_not_available.png" alt="Picture">
                    </div>
                  </div>
                  <div class="row" id="actionstwitter">
                    <div class="docs-buttons">
                      <!-- <h3 class="page-header">Toolbar:</h3> -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="0.1" title="Zoom In">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(0.1)">
                                    <span class="fa fa-search-plus"></span>
                                  </span>
                        </button>
                        <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(-0.1)">
                                    <span class="fa fa-search-minus"></span>
                                  </span>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="-45" title="Rotate Left"><span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(-45)">
                                    <span class="fa fa-rotate-left"></span>
                                </span>
                        </button>
                        <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="45" title="Rotate Right">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(45)">
                                    <span class="fa fa-rotate-right"></span>
                                  </span>
                        </button>
                      </div>
                      <div class="btn-group btn-group-crop" ng-hide="true">
                        <button type="button" class="btn btn-primary" data-method="getCroppedCanvas">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas()">
                                    Get Cropped Canvas
                                  </span>
                        </button>
                      </div>
                    </div><!-- /.docs-buttons -->
                    <div class="col-md-3 docs-toggles" ng-hide="true">
                      <!-- <h3 class="page-header">Toggles:</h3> -->
                      <!-- /.dropdown -->
                    </div><!-- /.docs-toggles -->
                  </div>
                  <div class="row">
                    <div>
                      <h4 translate>LABEL-PREVIEW-IMAGE</h4>
                      <br>
                    </div>
                    <!-- <h3 class="page-header">Preview:</h3> -->
                    <div class="docs-preview clearfix">
                      <div class="img-preview-twitter preview-lg"></div>
                      <div ng-hide="true" class="img-preview preview-md"></div>
                      <div ng-hide="true" class="img-preview preview-sm"></div>
                      <div ng-hide="true" class="img-preview preview-xs"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div>
                      <p translate>LABEL-BEST-FIT-TWITTER</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3><span translate>LABEL-STEP3</span>&nbsp;<span translate>LABEL-STEP3-EXPLANATION</span></h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <br>
          <div class="col-sm-2"><label class="control-label"><span translate>LABEL-ALT-TEXT</span></label></div>
          <div class="col-sm-5">
            <input type="text" name="productMainImageAlt" ng-model="productMainImageAlt" id="productMainImageAlt" class="form-control" placeholder="" required>
            <div ng-messages="productForm.productMainImageAlt.$error" role="alert">
              <p class="help-block error-text" ng-message="required"><span translate>VALIDATION-ALT-TEXT-REQ</span></p>
            </div>
          </div>
          <div class="col-sm-5">
            <button type="button" class="btn btn-default" tooltip-placement="top" uib-tooltip="{{'NOTE-TOOLTIP-DESCRIPTION-FALLBACK-IMAGE' | translate}}">i</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3><span translate>LABEL-STEP4</span>&nbsp;<span translate>LABEL-STEP4-EXPLANATION</span></h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div>
                <div><br><br></div>
                <table class="table">
                  <thead>
                  <tr>
                    <th width="20%"><span translate>LABEL-ORIGINAL-FILE-NAME</span></th>
                    <th ng-show="uploader.isHTML5"><span translate>LABEL-FILE-SIZE</span></th>
                    <th ng-show="uploader.isHTML5"><span translate>LABEL-PROGRESS-UPLOAD</span></th>
                    <th><span translate>LABEL-FILE-UPLOAD-STATUS</span></th>
                    <!-- <th><span translate>LABEL-FILE-UPLOAD-ACTIONS</span></th> -->
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in uploader.queue">
                    <td>
                      <strong>{{ item.file.name }}</strong>
                      <!-- Image preview -->
                      <!--auto height-->
                      <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                      <!--auto width-->
                      <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                      <!--fixed width and height -->
                      <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <!--
                    <td nowrap>
                      <div class="row" id="actions_">
                        <div class="docs-buttons">
                          <button ng-hide="true" type="button" class="btn btn-success" ng-click="uploadProductMainPicture(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span>&nbsp;<span translate>BUTTON-UPLOAD-ALL-MAIN-IMAGES</span>
                            <strong ng-bind="file"></strong>
                          </button>
                          <button ng-hide="true" type="button" class="btn btn-default btn-outline" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate>BUTTON-STOP-UPLOAD</span>
                          </button>
                          <button type="button" class="btn btn-default btn-outline" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate>BUTTON-REMOVE-FROM-UPLOAD-LIST</span>
                          </button>
                        </div>
                      </div>
                    </td> -->
                  </tr>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div ng-show="successpicture" class="alert alert-success">
                <strong ng-bind="successpicturemsg"></strong>
              </div>
              <div ng-show="errorpicture" class="alert alert-danger">
                <strong ng-bind="errorpicture"></strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div align="right" ng-hide="!uploader.queue.length">
                <div class="row" id="actionsbut">

                    <div class="docs-buttons">
                      <!-- <h3 class="page-header">Toolbar:</h3> -->
                      <div class="btn btn-group btn-group-crop btn-block">
                        <button type="button" class="btn btn-warning btn-block" data-method="getCroppedCanvas">
                                <span class="docs-tooltip" data-toggle="tooltip" title="Upload now!">
                                </span><span translate>BUTTON-SAVE-IMAGES</span>
                        </button>
                      </div>
                    </div><!-- /.docs-buttons -->

                  <div class="docs-toggles" ng-hide="true">
                    <!-- <h3 class="page-header">Toggles:</h3> -->
                    <!-- /.dropdown -->
                  </div><!-- /.docs-toggles -->
                </div>
              </div>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3><span translate>LABEL-STEP-FINALLY</span>&nbsp;<span translate>LABEL-STEP-FINALLY-EXPLANATION</span></h3>
      </div>
      <div class="ibox-content">
        <div class="container">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><span translate>LABEL-MAIN-IMAGE</span></th>
              <th><i class="fa fa-facebook"></i>&nbsp;<span>Facebook</span></th>
              <th><i class="fa fa-pinterest"></i>&nbsp;<span>Pinterest</span></th>
              <th><i class="fa fa-twitter"></i>&nbsp;<span>Twitter</span></th>
              <th><i class="fa fa-code"></i>&nbsp;<span>HTML</span></th>
              <th><i class="fa fa-instagram"></i>&nbsp;<span>Instagram</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><div><img ng-src="{{product.productMainImageURL}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLFacebook}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLPinterest}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLTwitter}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productMainImageURLCode}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.instagramImagesThumbnailUrl}}" class="product-images-list">
                <br><a class="btn btn-xs btn-warning btn-outline" ng-click="modalupdateProductPost('md', product, 'Instagram', 'New', '00.00.0000')"><i class="fa fa-instagram"></i>&nbsp;<span translate>BUTTON-ADD-IMAGE</span></a></div></td>
            </tr>
            <tr ng-hide="true">
              <td><div><img ng-src="{{product.productFurtherImage1URL}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLFacebook}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLPinterest}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLTwitter}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage1URLCode}}" class="product-images-list"></div></td>
              <td><div><span translate>LABEL-SOON-AVAILABLE</span></div></td>
            </tr>
            <tr ng-hide="true">
              <td><div><img ng-src="{{product.productFurtherImage2URL}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLFacebook}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLPinterest}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLTwitter}}" class="product-images-list"></div></td>
              <td><div><img ng-src="{{product.productFurtherImage2URLCode}}" class="product-images-list"></div></td>
              <td><div><span translate>LABEL-SOON-AVAILABLE</span></div></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox float-e-margins">
      <div class="col-lg-6" align="left">
        <a ui-sref="products.edit({productId: product._id})" class="btn btn-w-m btn-primary btn-outline"><i class="fa fa-arrow-left">&nbsp;</i><span translate>BUTTON-BACK-PRODUCT-MAINTAIN</span></a>
      </div>
      <div class="col-lg-6" align="right">
        <a ui-sref="products.view({productId: product._id})" class="btn btn-w-m btn-primary"><span translate>BUTTON-CONTINUE-PRODUCT-POST</span>&nbsp;<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br>



  <script src="../../../../public/lib/jquery/dist/jquery.min.js"></script>
  <script src="../cropper/dist/cropper.js"></script>

<script>
  $( document ).ready(function() {

    setTimeout(openCropper, 2000);

  });

  function openCropper(){

    'use strict';

    var Cropper = window.Cropper;
    var console = window.console || { log: function () {} };
    var container = document.querySelector('.img-container');
    var image = container.getElementsByTagName('img').item(0);
    var download = document.getElementById('download');
    var actions = document.getElementById('actions');
    var dataX = document.getElementById('dataX');
    var dataY = document.getElementById('dataY');
    var dataHeight = document.getElementById('dataHeight');
    var dataWidth = document.getElementById('dataWidth');
    var dataRotate = document.getElementById('dataRotate');
    var dataScaleX = document.getElementById('dataScaleX');
    var dataScaleY = document.getElementById('dataScaleY');
    var options = {
      aspectRatio: 1200/627,
      preview: '.img-preview',
      cropBoxResizable: false,
      dragMode: 'move',
      build: function () {
        //console.log('build');
      },
      built: function () {
        //console.log('built');
      },
      cropstart: function (data) {
        //console.log('cropstart', data.action);
      },
      cropmove: function (data) {
        //console.log('cropmove', data.action);
      },
      cropend: function (data) {
        //console.log('cropend', data.action);
      },
      crop: function (data) {
        //console.log('crop');
        dataX.value = Math.round(data.x);
        dataY.value = Math.round(data.y);
        dataHeight.value = Math.round(data.height);
        dataWidth.value = Math.round(data.width);
        dataRotate.value = !isUndefined(data.rotate) ? data.rotate : '';
        dataScaleX.value = !isUndefined(data.scaleX) ? data.scaleX : '';
        dataScaleY.value = !isUndefined(data.scaleY) ? data.scaleY : '';
      },
      zoom: function (data) {
        //console.log('zoom', data.ratio);
      }
    };
    var cropper = new Cropper(image, options);


    var containerfacebook = document.querySelector('.img-container-facebook');
    var imagefacebook = containerfacebook.getElementsByTagName('img').item(0);
    var downloadfacebook = document.getElementById('download');
    var actionsfacebook = document.getElementById('actionsfacebook');
    var dataXfacebook = document.getElementById('dataXfacebook');
    var dataYfacebook = document.getElementById('dataYfacebook');
    var dataHeightfacebook = document.getElementById('dataHeightfacebook');
    var dataWidthfacebook = document.getElementById('dataWidthfacebook');
    var dataRotatefacebook = document.getElementById('dataRotatefacebook');
    var dataScaleXfacebook = document.getElementById('dataScaleXfacebook');
    var dataScaleYfacebook = document.getElementById('dataScaleYfacebook');
    var optionsfacebook = {
      aspectRatio: 736/1104,
      preview: '.img-preview-facebook',
      cropBoxResizable: false,
      dragMode: 'move',
      build: function () {
        //console.log('build');
      },
      built: function () {
        //console.log('built');
      },
      cropstart: function (data) {
        //console.log('cropstart', data.action);
      },
      cropmove: function (data) {
        //console.log('cropmove', data.action);
      },
      cropend: function (data) {
        //console.log('cropend', data.action);
      },
      crop: function (data) {
        //console.log('crop');
        dataXfacebook.value = Math.round(data.x);
        dataYfacebook.value = Math.round(data.y);
        dataHeightfacebook.value = Math.round(data.height);
        dataWidthfacebook.value = Math.round(data.width);
        dataRotatefacebook.value = !isUndefined(data.rotate) ? data.rotate : '';
        dataScaleXfacebook.value = !isUndefined(data.scaleX) ? data.scaleX : '';
        dataScaleYfacebook.value = !isUndefined(data.scaleY) ? data.scaleY : '';
      },
      zoom: function (data) {
        //console.log('zoom', data.ratio);
      }
    };
    var cropperfacebook = new Cropper(imagefacebook, optionsfacebook);


    var containertwitter = document.querySelector('.img-container-twitter');
    var imagetwitter = containertwitter.getElementsByTagName('img').item(0);
    var downloadtwitter = document.getElementById('download');
    var actionstwitter = document.getElementById('actionstwitter');
    var dataXtwitter = document.getElementById('dataXtwitter');
    var dataYtwitter = document.getElementById('dataYtwitter');
    var dataHeighttwitter = document.getElementById('dataHeighttwitter');
    var dataWidthtwitter = document.getElementById('dataWidthtwitter');
    var dataRotatetwitter = document.getElementById('dataRotatetwitter');
    var dataScaleXtwitter = document.getElementById('dataScaleXtwitter');
    var dataScaleYtwitter = document.getElementById('dataScaleYtwitter');
    var optionstwitter = {
      aspectRatio: 1024/512,
      preview: '.img-preview-twitter',
      cropBoxResizable: false,
      dragMode: 'move',
      build: function () {
        //console.log('build');
      },
      built: function () {
        //console.log('built');
      },
      cropstart: function (data) {
        //console.log('cropstart', data.action);
      },
      cropmove: function (data) {
        //console.log('cropmove', data.action);
      },
      cropend: function (data) {
        //console.log('cropend', data.action);
      },
      crop: function (data) {
        //console.log('crop');
        dataXtwitter.value = Math.round(data.x);
        dataYtwitter.value = Math.round(data.y);
        dataHeighttwitter.value = Math.round(data.height);
        dataWidthtwitter.value = Math.round(data.width);
        dataRotatetwitter.value = !isUndefined(data.rotate) ? data.rotate : '';
        dataScaleXtwitter.value = !isUndefined(data.scaleX) ? data.scaleX : '';
        dataScaleYtwitter.value = !isUndefined(data.scaleY) ? data.scaleY : '';
      },
      zoom: function (data) {
        //console.log('zoom', data.ratio);
      }
    };
    var croppertwitter = new Cropper(imagetwitter, optionstwitter);



    function isUndefined(obj) {
      return typeof obj === 'undefined';
    }

    function preventDefault(e) {
      if (e) {
        if (e.preventDefault) {
          e.preventDefault();
        } else {
          e.returnValue = false;
        }
      }
    }


    // Tooltip
    $('[data-toggle="tooltip"]').tooltip();


    // Buttons
    if (!document.createElement('canvas').getContext) {
      $('button[data-method="getCroppedCanvas"]').prop('disabled', true);
    }

    // Buttons Facebook
    if (!document.createElement('canvas').getContext) {
      $('button[data-method="getCroppedCanvasfacebook"]').prop('disabled', true);
    }

    // Buttons Twitter
    if (!document.createElement('canvas').getContext) {
      $('button[data-method="getCroppedCanvastwitter"]').prop('disabled', true);
    }

    if (typeof document.createElement('cropper').style.transition === 'undefined') {
      $('button[data-method="rotate"]').prop('disabled', true);
      $('button[data-method="scale"]').prop('disabled', true);
    }

    if (typeof document.createElement('cropper').style.transition === 'undefined') {
      $('button[data-method="rotatefacebook"]').prop('disabled', true);
      $('button[data-method="scalefacebook"]').prop('disabled', true);
    }

    if (typeof document.createElement('cropper').style.transition === 'undefined') {
      $('button[data-method="rotatetwitter"]').prop('disabled', true);
      $('button[data-method="scaletwitter"]').prop('disabled', true);
    }

    // Download
    //if (typeof download.download === 'undefined') {
    //  download.className += ' disabled';
    //}


    // Options
    actions.querySelector('.docs-toggles').onclick = function (event) {
      var e = event || window.event;
      var target = e.target || e.srcElement;
      var cropBoxData;
      var canvasData;
      var cropBoxDatafacebook;
      var canvasDatafacebook;
      var cropBoxDatatwitter;
      var canvasDatatwitter;
      var isCheckbox;
      var isRadio;

      if (!cropper) {
        return;
      }

      if (!cropperfacebook) {
        return;
      }

      if (!croppertwitter) {
        return;
      }

      if (target.tagName.toLowerCase() === 'span') {
        target = target.parentNode;
      }

      if (target.tagName.toLowerCase() === 'label') {
        target = target.getElementsByTagName('input').item(0);
      }

      isCheckbox = target.type === 'checkbox';
      isRadio = target.type === 'radio';

      if (isCheckbox || isRadio) {
        if (isCheckbox) {
          options[target.name] = target.checked;
          cropBoxData = cropper.getCropBoxData();
          canvasData = cropper.getCanvasData();

          optionsfacebook[target.name] = target.checked;
          cropBoxDatafacebook = cropperfacebook.getCropBoxData();
          canvasDatafacebook = cropperfacebook.getCanvasData();

          optionstwitter[target.name] = target.checked;
          cropBoxDatatwitter = croppertwitter.getCropBoxData();
          canvasDatatwitter = croppertwitter.getCanvasData();

          options.built = function () {
            console.log('built');
            cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
          };
          optionsfacebook.built = function () {
            console.log('built');
            cropperfacebook.setCropBoxData(cropBoxDatafacebook).setCanvasData(canvasDatafacebook);
          };
          optionstwitter.built = function () {
            console.log('built');
            croppertwitter.setCropBoxData(cropBoxDatatwitter).setCanvasData(canvasDatatwitter);
          };
        } else {
          options[target.name] = target.value;
          options.built = function () {
            console.log('built');
          };
          optionsfacebook[target.name] = target.value;
          optionsfacebook.built = function () {
            console.log('built');
          };
          optionstwitter[target.name] = target.value;
          optionstwitter.built = function () {
            console.log('built');
          };
        }

        // Restart
        cropper.destroy();
        cropper = new Cropper(image, options);

        // Restart
        cropperfacebook.destroy();
        cropperfacebook = new Cropper(imagefacebook, optionsfacebook);

        // Restart
        croppertwitter.destroy();
        croppertwitter = new Cropper(imagetwitter, optionstwitter);
      }
    };


    // Methods
    actions.querySelector('.docs-buttons').onclick = function (event) {
      var e = event || window.event;
      var target = e.target || e.srcElement;
      var result;
      var input;
      var data;


      if (!cropper) {
        return;
      }

      while (target !== this) {
        if (target.getAttribute('data-method')) {
          break;
        }

        target = target.parentNode;
      }

      if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
        return;
      }

      data = {
        method: target.getAttribute('data-method'),
        target: target.getAttribute('data-target'),
        option: target.getAttribute('data-option'),
        secondOption: target.getAttribute('data-second-option')
      };


      if (data.method) {
        if (typeof data.target !== 'undefined') {
          input = document.querySelector(data.target);

          if (!target.hasAttribute('data-option') && data.target && input) {
            try {
              data.option = JSON.parse(input.value);
            } catch (e) {
              console.log(e.message);
            }
          }
        }

        if (data.method === 'getCroppedCanvas') {
          data.option = JSON.parse(data.option);
        }

        result = cropper[data.method](data.option, data.secondOption);

        switch (data.method) {
          case 'scaleX':
          case 'scaleY':
            target.setAttribute('data-option', -data.option);
            break;

          case 'getCroppedCanvas':
            if (result) {

              angular.element(document.getElementById('productsMediaControllerID')).scope().uploadProductMainPicture(result);

              // Bootstrap's Modal
              //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

              if (!download.disabled) {
                download.href = result.toDataURL();
              }
            }

            break;

          case 'destroy':
            cropper = null;
            break;
        }

        if (typeof result === 'object' && result !== cropper && input) {
          try {
            input.value = JSON.stringify(result);
          } catch (e) {
            console.log(e.message);
          }
        }

      }
    };


    // Methods for Facebook
    actionsfacebook.querySelector('.docs-buttons').onclick = function (event) {
      var e = event || window.event;
      var target = e.target || e.srcElement;
      var result;
      var input;
      var data;

      if (!cropper) {
        return;
      }

      while (target !== this) {
        if (target.getAttribute('data-method')) {
          break;
        }

        target = target.parentNode;
      }

      if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
        return;
      }

      data = {
        method: target.getAttribute('data-method'),
        target: target.getAttribute('data-target'),
        option: target.getAttribute('data-option'),
        secondOption: target.getAttribute('data-second-option')
      };

      if (data.method) {
        if (typeof data.target !== 'undefined') {
          input = document.querySelector(data.target);

          if (!target.hasAttribute('data-option') && data.target && input) {
            try {
              data.option = JSON.parse(input.value);
            } catch (e) {
              console.log(e.message);
            }
          }
        }

        if (data.method === 'getCroppedCanvas') {
          data.option = JSON.parse(data.option);
        }

        if (data.method === 'getCroppedCanvasfacebook') {
          data.option = JSON.parse(data.option);
        }

        if (data.method === 'getCroppedCanvastwitter') {
          data.option = JSON.parse(data.option);
        }

        result = cropperfacebook[data.method](data.option, data.secondOption);

        switch (data.method) {
          case 'scaleX':
          case 'scaleY':
            target.setAttribute('data-option', -data.option);
            break;

          case 'getCroppedCanvas':
            if (result) {

              angular.element(document.getElementById('productsMediaControllerID')).scope().uploadProductMainPicture(result);

              // Bootstrap's Modal
              //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

              if (!download.disabled) {
                download.href = result.toDataURL();
              }
            }

            break;

          case 'destroy':
            cropper = null;
            break;
        }

        if (typeof result === 'object' && result !== cropper && input) {
          try {
            input.value = JSON.stringify(result);
          } catch (e) {
            console.log(e.message);
          }
        }

      }
    };

    // Methods for Twitter
    actionstwitter.querySelector('.docs-buttons').onclick = function (event) {
      var e = event || window.event;
      var target = e.target || e.srcElement;
      var result;
      var input;
      var data;

      if (!cropper) {
        return;
      }

      while (target !== this) {
        if (target.getAttribute('data-method')) {
          break;
        }

        target = target.parentNode;
      }

      if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
        return;
      }

      data = {
        method: target.getAttribute('data-method'),
        target: target.getAttribute('data-target'),
        option: target.getAttribute('data-option'),
        secondOption: target.getAttribute('data-second-option')
      };

      if (data.method) {
        if (typeof data.target !== 'undefined') {
          input = document.querySelector(data.target);

          if (!target.hasAttribute('data-option') && data.target && input) {
            try {
              data.option = JSON.parse(input.value);
            } catch (e) {
              console.log(e.message);
            }
          }
        }

        if (data.method === 'getCroppedCanvastwitter') {
          data.option = JSON.parse(data.option);
        }

        result = croppertwitter[data.method](data.option, data.secondOption);

        switch (data.method) {
          case 'scaleX':
          case 'scaleY':
            target.setAttribute('data-option', -data.option);
            break;

          case 'getCroppedCanvas':
            if (result) {

              angular.element(document.getElementById('productsMediaControllerID')).scope().uploadProductMainPicture(result);

              // Bootstrap's Modal
              //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

              if (!download.disabled) {
                download.href = result.toDataURL();
              }
            }

            break;

          case 'destroy':
            cropper = null;
            break;
        }

        if (typeof result === 'object' && result !== cropper && input) {
          try {
            input.value = JSON.stringify(result);
          } catch (e) {
            console.log(e.message);
          }
        }

      }
    };

    // Methods
    actionsbut.querySelector('.docs-buttons').onclick = function (event) {
      var e = event || window.event;
      var target = e.target || e.srcElement;
      var result;
      var resultfacebook;
      var resulttwitter;
      var input;
      var data;


      if (!cropper) {
        return;
      }

      while (target !== this) {
        if (target.getAttribute('data-method')) {
          break;
        }

        target = target.parentNode;
      }

      if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
        return;
      }

      data = {
        method: target.getAttribute('data-method'),
        target: target.getAttribute('data-target'),
        option: target.getAttribute('data-option'),
        secondOption: target.getAttribute('data-second-option')
      };


      if (data.method) {
        if (typeof data.target !== 'undefined') {
          input = document.querySelector(data.target);

          if (!target.hasAttribute('data-option') && data.target && input) {
            try {
              data.option = JSON.parse(input.value);
            } catch (e) {
              console.log(e.message);
            }
          }
        }

        if (data.method === 'getCroppedCanvas') {
          data.option = JSON.parse(data.option);
        }

        result = cropper[data.method](data.option, data.secondOption);
        resultfacebook = cropperfacebook[data.method](data.option, data.secondOption);
        resulttwitter = croppertwitter[data.method](data.option, data.secondOption);

        switch (data.method) {
          case 'scaleX':
          case 'scaleY':
            target.setAttribute('data-option', -data.option);
            break;

          case 'getCroppedCanvas':
            if (result) {

              angular.element(document.getElementById('productsMediaControllerID')).scope().uploadProductMainPicture(result,resultfacebook,resulttwitter);

              // Bootstrap's Modal
              //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

              if (!download.disabled) {
                download.href = result.toDataURL();
              }
            }

            break;

          case 'destroy':
            cropper = null;
            break;
        }

        if (typeof result === 'object' && result !== cropper && input) {
          try {
            input.value = JSON.stringify(result);
            input.value = JSON.stringify(resultfacebook);
          } catch (e) {
            console.log(e.message);
          }
        }

      }
    };


    document.body.onkeydown = function (event) {
      var e = event || window.event;

      if (!cropper || this.scrollTop > 300) {
        return;
      }

      switch (e.keyCode) {
        case 37:
          preventDefault(e);
          cropper.move(-1, 0);
          break;

        case 38:
          preventDefault(e);
          cropper.move(0, -1);
          break;

        case 39:
          preventDefault(e);
          cropper.move(1, 0);
          break;

        case 40:
          preventDefault(e);
          cropper.move(0, 1);
          break;
      }
    };


    // Import image
    var inputImage = document.getElementById('inputImage');
    var URL = window.URL || window.webkitURL;
    var blobURL;

    if (URL) {
      inputImage.onchange = function () {
        var files = this.files;
        var file;

        if (cropper && cropperfacebook && croppertwitter && files && files.length) {
          file = files[0];

          if (/^image\/\w+/.test(file.type)) {
            blobURL = URL.createObjectURL(file);
            cropper.reset().replace(blobURL);
            cropperfacebook.reset().replace(blobURL);
            croppertwitter.reset().replace(blobURL);
            inputImage.value = null;
          } else {
            window.alert('Please choose an image file.');
          }
        }
      };
    } else {
      inputImage.disabled = true;
      inputImage.parentNode.className += ' disabled';
    }

  }


</script>

</section>
