<section>
<div class="inmodal" ng-controller="ProductsMediaController" ng-init="findOne()">
  <div>
    <div class="modal-content">
      <form name="postForm" class="form-horizontal" novalidate>
        <div class="modal-header">
          <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Your medias on</h4>
          <div>
            <i class="fa fa-instagram modal-icon"></i>
          </div>
        </div>
        <div>
          <div class="modal-body-green">
            <p><span>Those are your recent Instagram images. Please select your product picture.</span></p>
          </div>
        </div>
        <div class="modal-body">
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
        </div>
        <div class="modal-body-white">
          <table class="table table-hover">
            <thead>
            <tr>
              <th data-toggle="true">Image</th>
              <th data-toggle="true">Text</th>
              <th class="text-right" data-sort-ignore="true"></th>
              <th class="text-right" data-sort-ignore="true"></th>
            </tr>
            </thead>
            <tbody data-ng-repeat="productimage in productimages">
            <tr>
              <td><img ng-src="{{productimage.images.thumbnail.url}}" class="product-images-list"></td>
              <td><span data-ng-bind="productimage.caption.text"></span></td>
              <td class="text-right">

              </td>
              <td class="text-right">

              </td>
              <td class="text-right">
                <div>
                  <button type="button" class="btn btn-sm btn-warning" ng-click="saveInstagramMedia(productimage.id, productimage.images.low_resolution.url, productimage.images.standard_resolution.url, productimage.images.thumbnail.url)"> Select Image</button>
                  <!--  <a class="btn btn-warning btn-sm" ui-sref="products.view({productId: product._id})">
                    <i class="fa fa-cloud-upload"></i> Select Image
                  </a>
                  <button class="btn btn-default btn-outline btn-sm demo4">
                      <i class="fa fa-trash"></i>
                    </button> -->
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

