<section>
<div class="inmodal" ng-controller="ProductsController">
  <div>
    <div class="modal-content">
      <form name="postForm" class="form-horizontal" ng-submit="postPost(postForm.$valid)" novalidate>
        <div class="modal-header">
          <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Your post to</h4>
          <div ng-show="varPostChannel === 'Facebook'">
            <i class="fa fa-facebook modal-icon"></i>
          </div>
          <div ng-show="varPostChannel === 'Pinterest'">
            <i class="fa fa-pinterest modal-icon"></i>
          </div>
          <div ng-show="varPostChannel === 'Twitter'">
            <i class="fa fa-twitter modal-icon"></i>
          </div>
          <div ng-show="varPostChannel === 'Etsy'">
            <i class="">Etsy</i>
          </div>
        </div>
        <div ng-show="varPostStatus === 'Active'">
          <div class="modal-body-green">
            <p><strong><span>Status post: </span></strong><span ng-bind="varPostStatus"></span></p>
            <p><strong><span>Posted on: </span></strong><span ng-bind="varPostPublicationDate"></span></p>
          </div>
        </div>
        <div ng-show="varPostStatus === 'Wait'">
          <div class="modal-body-yellow">
            <p><strong><span>Status post: </span></strong><span ng-bind="varPostStatus"></span></p>
            <p><strong><span>Posted on: </span></strong><span ng-bind="varPostPublicationDate"></span></p>
          </div>
        </div>
        <div ng-show="varPostStatus === 'Error'">
          <div class="modal-body-red">
            <p><strong><span>Status post: </span></strong><span ng-bind="varPostStatus"></span></p>
            <p><strong><span>Posted on: </span></strong><span ng-bind="varPostPublicationDate"></span></p>
          </div>
        </div>
        <div class="modal-body">
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
          <div class="spiner-example" ng-hide="hideSpinner">
            <div class="sk-spinner sk-spinner-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'Wait'">
            <span>Please note: There is currently no update functionality available for Facebook posts.</span>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'Error'">
            <span>Your access token has expired. Please log in to your account and try again to post your product.</span>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'Active'">
            <span>Please note: There is currently no update functionality available for Facebook posts.</span>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'New'">
            <span>Please note: Posts to Facebook may not be updated after the post.</span>
            <a href="#" class="pull-right"></a>
          </div>
          <div ng-show="varPostChannel === 'Pinterest'  && varPostStatus === 'Wait'">
            <span>Please note: TBD.</span>
          </div>
          <div ng-show="varPostChannel === 'Pinterest'  && varPostStatus === 'Error'">
            <span>TBD</span>
          </div>
          <div ng-show="varPostChannel === 'Pinterest'  && varPostStatus === 'Active'">
            <span>Please note: The post will automatically be updated, if you edit the product after the post. You may cancel a post, which removes the product from the channel.</span>
          </div>
          <div ng-show="varPostChannel === 'Pinterest'  && varPostStatus === 'New'">
            <span>Please note: The post will automatically be updated, if you edit the product after the post.</span>
          </div>
          <div ng-show="varPostChannel === 'Twitter'  && varPostStatus === 'Wait'">
            <span>Please note: TBD.</span>
          </div>
          <div ng-show="varPostChannel === 'Twitter'  && varPostStatus === 'Error'">
            <span>TBD</span>
          </div>
          <div ng-show="varPostChannel === 'Twitter'  && varPostStatus === 'Active'">
            <span>Please note: There is currently no update functionality available for Twitter tweets.</span>
          </div>
          <div ng-show="varPostChannel === 'Twitter' && varPostStatus === 'New'">
            <span>Please note: Posts to Twitter may not be updated after the post.</span>
            <a href="#" class="pull-right"></a>
            <p><strong>Preview of your post </strong><i>(This is not the final look of your post)</i></p>
          </div>
          <div ng-show="varPostChannel === 'Etsy' && varPostStatus === 'Wait'">
            <span>Please note: TBD.</span>
          </div>
          <div ng-show="varPostChannel === 'Etsy' && varPostStatus === 'Error'">
            <span>TBD</span>
          </div>
          <div ng-show="varPostChannel === 'Etsy'  && varPostStatus === 'Active'">
            <span>Please note: The post will automatically be updated, if you edit the product after the post. You may cancel a post, which removes the product from the channel.</span>
          </div>
          <div ng-show="varPostChannel === 'Etsy'  && varPostStatus === 'New'">
            <span>Please note: The post will automatically be updated, if you edit the product after the post.</span>
          </div>
          <br>
          <div ng-show="error" class="alert alert-success">
            <strong ng-bind="error"></strong>
          </div>
          <div ng-show="varPostStatus === 'Error'">
            <button type="submit" class="btn btn-warning">Try post again</button>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'Wait'">
            <button type="submit" class="btn btn-warning">Try post again</button>
          </div>
          <div ng-show="varPostChannel === 'Pinterest' && varPostStatus === 'Wait'">
            <button type="button" class="btn btn-warning" ng-click="postPostPinterest()">Try post again</button>
          </div>
          <div ng-show="varPostChannel === 'Twitter' && varPostStatus === 'Wait'">
            <button type="button" class="btn btn-warning" ng-click="postPostTwitter()">Try tweet again</button>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'Active'">
            <button type="submit" class="btn btn-block btn-warning">Post product as new post again</button>
          </div>
          <div ng-show="varPostChannel === 'Pinterest' && varPostStatus === 'Active'">
            <button type="button" class="btn btn-block btn-warning" ng-click="postPostPinterest()">Pin product as new pin again</button>
          </div>
          <div ng-show="varPostChannel === 'Twitter' && varPostStatus === 'Active'">
            <button type="button" class="btn btn-block btn-warning" ng-click="postPostTwitter()">Tweet product as new tweet again</button>
          </div>
          <div ng-show="varPostChannel === 'Twitter' && varPostStatus === 'Wait'">
            <button type="button" class="btn btn-warning" ng-click="postPostTwitter()">Try tweet again</button>
          </div>
          <div ng-show="varPostChannel === 'Facebook' && varPostStatus === 'New'">
            <button type="submit" ng-show="hideSpinner" class="btn btn-block btn-warning">Post Product to Facebook</button>
          </div>
          <div ng-show="varPostChannel === 'Pinterest' && varPostStatus === 'New'">
            <button type="button" class="btn btn-block btn-warning" ng-click="postPostPinterest()">Pin your product to Pinterest</button>
            <!-- <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://localhost:3000/checkouts/{{ product._id }}&media={{ product.productMainImageURL }}&description={{ product.productDescription }}" data-pin-height="28"></a> -->
          </div>
          <div ng-show="varPostChannel === 'Twitter' && varPostStatus === 'New'">
            <button type="button" class="btn btn-block btn-warning" ng-click="postPostTwitter()">Tweet Product to Twitter</button>
          </div>
          <div ng-show="varPostChannel === 'Etsy' && varPostStatus === 'New'">
            <button type="submit" class="btn btn-warning">Post Product to Etsy</button>
          </div>
        </div>
        <div class="modal-body-white">
          <div ng-show="varPostChannel === 'Facebook'">
            <p><strong>Preview of your post </strong><i>(This is not the final look of your post)</i></p>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><img ng-src="{{product.productMainImageURLFacebook}}" alt="{{product.productMainImageAlt}}"></p>
                <h2 style="font-family: Georgia, serif;"><span ng-bind="product.productTitle"></span> für <span ng-bind="product.productPrice"></span></h2>
                <p><span ng-bind="product.productDescription"></span> </p>
                <p><a href="#"><span ng-bind="authentication.user.displayName"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>BUY NOW</span></a></p>
              </div>
            </div>
          </div>
          <div ng-show="varPostChannel === 'Pinterest'">
            <p><strong>Preview of your pin </strong><i>(This is not the final look of your pin)</i></p>
            <div class="pin">
              <p><strong><span ng-bind="authentication.user.displayName"></span></strong></p>
              <p><strong><span ng-bind="product.productPrice"></span></strong></p>
              <p><strong><span ng-bind="product.productTitle"></span></strong></p>
              <br>
              <img ng-src="{{product.productMainImageURLPinterest}}" alt="{{product.productMainImageAlt}}">
              <br>
              <p><span>Sold by</span></p>
              <p><strong><span>shopmightymerce.com</span></strong></p>
              <br>
              <p><span ng-bind="product.productDescription"></span></p>
            </div>
          </div>
          <div ng-show="varPostChannel === 'Twitter'">
            <p><strong>Preview of your tweet </strong><i>(This is not the final look of your tweet)</i></p>
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 style="font-family: Georgia, serif;"><span ng-bind="product.productTitle"></span> für <span ng-bind="product.productPrice"></span></h2>
                <p><img ng-src="{{product.productMainImageURLFacebook}}" alt="{{product.productMainImageAlt}}"></p>
                <p><span ng-bind="product.productDescription"></span> </p>
                <p><a href="#"><span ng-bind="authentication.user.displayName"></span></a></p>
              </div>
            </div>
          </div>
          <div ng-show="varPostChannel === 'Code'">
            <img ng-src="{{product.productMainImageURLCode}}" alt="{{product.productMainImageAlt}}" class="product-images-list">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

<script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));
</script>

