<section ng-controller="LegalsController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="h3">
      <span translate>BREADCRUMB-SHOP-SETTINGS</span> /
      <span translate>BREADCRUMB-LEGAL</span> /
        <span>
          <strong translate>BREADCRUMB-LEGAL-CREATE</strong>
        </span>
    </div>
  </div>

  <form name="legalForm" class="form-horizontal" ng-submit="create(legalForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate>LABEL-LEGAL-OPTION</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label">Privacy Policy*</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="legalPrivacyPolicy" id="legalPrivacyPolicy" class="form-control" placeholder="" required></div>
                <div ng-messages="legalForm.legalPrivacyPolicy.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Privacy Polidy is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Return Policy*</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="legalReturnPolicy" id="legalReturnPolicy" class="form-control" placeholder="" required></div>
                <div ng-messages="legalForm.legalReturnPolicy.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Return Policy is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Terms and Conditions*</label>
                <div class="col-sm-8"><input ng-model="legalTermsandConditions" id="legalTermsandConditions" class="form-control" placeholder="" required></div>
                <div ng-messages="legalForm.legalTermsandConditions.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Terms and Conditions are required.</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Imprint*</label>
                <div class="col-sm-8"><input ng-model="legalImprint" id="legalImprint" class="form-control" placeholder="" required></div>
                <div ng-messages="legalForm.legalImprint.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Imprint is required.</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Copyright*</label>
                <div class="col-sm-8"><input ng-model="legalCopyright" id="legalCopyright" class="form-control" placeholder="" required></div>
                <div ng-messages="legalForm.legalCopyright.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Copyright is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div align="left">
              <a ui-sref="legals.list" class="btn btn-w-m btn-warning btn-outline" translate>BUTTON-RETURN-TO-LEGAL</a>
            </div>
            <div align="right">
              <button type="submit" class="btn btn-w-m btn-warning">Save legal data</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
  <div class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>
</section>
