<section ng-controller="LegalsController" ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Shop Settings</h2>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <strong>Settings</strong>
        </li>
        <li class="active">
          <strong>Legal - Edit</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <form name="legalForm" class="form-horizontal" ng-submit="update(legalForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div ng-show="error" class="alert alert-danger">
            <p ng-bind="error"></p>
          </div>
          <div ng-show="success" class="alert alert-success">
            <p ng-bind="success"></p>
          </div>
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Legal options</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label">Privacy Policy*</label>
                <div class="col-sm-8">
                  <textarea rows="10" ng-model="legal.legalPrivacyPolicy" id="legalPrivacyPolicy" class="form-control" placeholder="" required></textarea></div>
                <div ng-messages="legalForm.legalPrivacyPolicy.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Privacy policy is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Return Policy*</label>
                <div class="col-sm-8">
                  <textarea rows="10" ng-model="legal.legalReturnPolicy" id="legalReturnPolicy" class="form-control" placeholder="" required></textarea></div>
                <div ng-messages="legalForm.legalReturnPolicy.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Return policy is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Terms and Conditions*</label>
                <div class="col-sm-8">
                  <textarea rows="10" ng-model="legal.legalTermsandConditions" id="legalTermsandConditions" class="form-control" placeholder="" required></textarea></div>
                <div ng-messages="legalForm.legalTermsandConditions.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Terms and Conditions are required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Imprint*</label>
                <div class="col-sm-8">
                  <textarea rows="10" ng-model="legal.legalImprint" id="legalImprint" class="form-control" placeholder="" required></textarea></div>
                <div ng-messages="legalForm.legalImprint.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Imprint is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Copyright*</label>
                <div class="col-sm-8">
                  <textarea rows="10" ng-model="legal.legalCopyright" id="legalCopyright" class="form-control" placeholder="" required></textarea></div>
                <div ng-messages="legalForm.legalCopyright.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Copyright is required.</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div align="right">
              <button type="submit" class="btn btn-w-m btn-warning">Update legal data</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>

  </form>
</section>
