<section ng-controller="TaxesController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="h3">
      <span translate>BREADCRUMB-SHOP-SETTINGS</span> /
      <span translate>BREADCRUMB-TAXES</span> /
        <span>
          <strong translate>BREADCRUMB-TAXES-CREATE</strong>
        </span>
    </div>
  </div><br>

  <form name="taxeForm" class="form-horizontal" ng-submit="create(taxeForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div ng-show="error" class="alert alert-danger">
          <p ng-bind="error"></p>
        </div>
        <div ng-show="success" class="alert alert-success">
          <p ng-bind="success"></p>
        </div>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate>LABEL-TAXES-OPTION</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-TAXES-COUNTRY</span> *</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="taxCountry" id="taxCountry" class="form-control" placeholder="" required></div>
                <div ng-messages="taxeForm.taxCountry.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-TAXES-COUNTRY-REQ</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label"><span translate>LABEL-TAXES-TAXRATE</span>(in %) *</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="taxRate" id="taxRate" class="form-control" placeholder="" required></div>
                <div ng-messages="taxeForm.taxRate.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-TAXES-TAXRATE-REQ</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div align="left">
              <a ui-sref="taxes.list" class="btn btn-w-m btn-primary btn-outline" translate>BUTTON-RETURN-TO-LEGAL</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="ibox float-e-margins">
            <div align="right">
              <button type="submit" class="btn btn-w-m btn-warning" translate>BUTTON-SAVE-TAXRATE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
  <div class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>
</section>
