<section ng-controller="TaxesController" ng-init="find()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Shop Settings</h2>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <strong>Settings</strong>
        </li>
        <li class="active">
          <strong>Taxes</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <form name="taxForm" class="form-horizontal" ng-submit="update(taxForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Tax rows</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th data-toggle="true">Code</th>
                  <th data-toggle="true">Value</th>
                </tr>
                </thead>
                <tbody data-ng-repeat="taxe in taxes">
                <tr>
                  <td><span data-ng-bind="taxe.taxCountry"></span></td>
                  <td><span data-ng-bind="taxe.taxRate"> %</span></td>
                  <td class="text-right">
                    <div class="btn-group">
                      <a class="btn-white btn-xs" ui-sref="taxes.edit({taxesId: taxe._id})">
                        <i class="fa fa-cogs"></i> Edit tax option
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="alert alert-warning text-center" ng-if="taxes.$resolved && !taxes.length">
                No tax row yet, why don't you <a ui-sref="taxes.create">create one</a>?
              </div>
            </div>
          </div>
          <div align="right">
            <a class="btn btn-w-m btn-warning" ui-sref="taxes.create">
              Add new tax option
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">
            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>

  </form>
</section>
