<section ng-controller="ChangeProfilePictureController" id="profilePictureControllerID" uploader="uploader">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="h3">
      <span><span ng-bind="authentication.user.displayName"></span> /
        <span>
          <strong translate>BREADCRUMB-LOGO</strong>
        </span>
      </span>
    </div>
  </div><br>

  <form name="profileLogoForm" class="form-horizontal">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate>HEADLINE-SUB-YOUR-CURRENT-LOGO</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="form-group text-center">
                <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate>HEADLINE-SUB-UPLOAD-NEW-LOGO</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <!-- <h3 class="page-header">Demo:</h3> -->
                    <div class="img-container-logo">
                      <img src="../../../../modules/products/client/img/photo_not_available.png" alt="Picture">
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div>
                      <h2 translate>LABEL-PREVIEW-IMAGE</h2>
                    </div>
                    <!-- <h3 class="page-header">Preview:</h3> -->
                    <div class="docs-preview clearfix">
                      <div class="img-preview preview-md"></div>
                      <div ng-hide="true" class="img-preview preview-md"></div>
                      <div ng-hide="true" class="img-preview preview-sm"></div>
                      <div ng-hide="true" class="img-preview preview-xs"></div>
                    </div>
                  </div>
                </div>
                <div class="row" id="actions">
                  <div class="col-md-7 docs-buttons">
                    <!-- <h3 class="page-header">Toolbar:</h3> -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="0.1" title="Zoom In">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="Zoom in">
                                    <span class="fa fa-search-plus"></span>
                                  </span>
                      </button>
                      <button type="button" class="btn btn-default btn-outline" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="Zoom out">
                                    <span class="fa fa-search-minus"></span>
                                  </span>
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="-45" title="Rotate Left"><span class="docs-tooltip" data-toggle="tooltip" title="drehen links">
                                    <span class="fa fa-rotate-left"></span>
                                </span>
                      </button>
                      <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="45" title="Rotate Right">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="drehen rechts">
                                    <span class="fa fa-rotate-right"></span>
                                  </span>
                      </button>
                    </div>
                    <div class="btn-group btn-group-crop" ng-hide="true">
                      <button type="button" class="btn btn-primary" data-method="getCroppedCanvas">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas()">
                                    Get Cropped Canvas
                                  </span>
                      </button>
                    </div>
                    <div class="text-center form-group" ng-show="uploader.queue.length">
                      <button type="button" class="btn btn-warning" data-method="getCroppedCanvas">
                                <span class="docs-tooltip" data-toggle="tooltip" title="Upload now!">
                                </span><i class="glyphicon glyphicon-upload"></i>&nbsp;<span translate>BUTTON-SAVE-IMAGE</span>
                      </button>
                      <!-- <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button> -->
                      <button class="btn btn-default" ng-click="cancelUpload();" translate>BUTTON-CANCEL</button>
                    </div>
                  </div><!-- /.docs-buttons -->
                  <div class="col-md-3 docs-toggles" ng-hide="true">
                    <!-- <h3 class="page-header">Toggles:</h3> -->
                    <!-- /.dropdown -->
                  </div><!-- /.docs-toggles -->
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="text-center form-group" ng-hide="uploader.queue.length">
                      <label title="Upload image file" for="inputImage" class="btn btn-warning btn-block btn-file">
                        <span translate>BUTTON-SELECT-IMAGE-LOGO</span><input type="file" accept="image/*" name="file" id="inputImage" class="hide" nv-file-select uploader="uploader">
                      </label>
                    </div>
                    <div ng-show="error" class="alert alert-danger">
                      <p ng-bind="error"></p>
                    </div>
                    <div ng-show="success" class="alert alert-success">
                      <strong translate>MESSAGE-SUCCESS-LOGO-CHANGED</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
<br><br>
  <div class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>

  <script src="../../../../../modules/products/client/cropper/dist/cropper.js"></script>

  <script>
    $( document ).ready(function() {

      setTimeout(openCropper, 2000);

    });

    function openCropper(){

      'use strict';

      var Cropper = window.Cropper;
      var console = window.console || { log: function () {} };
      var container = document.querySelector('.img-container-logo');
      var image = container.getElementsByTagName('img').item(0);
      var download = document.getElementById('download');
      var actions = document.getElementById('actions');
      var dataX = document.getElementById('dataX');
      var dataY = document.getElementById('dataY');
      var dataHeight = document.getElementById('dataHeight');
      var dataWidth = document.getElementById('dataWidth');
      var dataRotate = document.getElementById('dataRotate');
      var dataScaleX = document.getElementById('dataScaleX');
      var dataScaleY = document.getElementById('dataScaleY');
      var options = {
        aspectRatio: 370/152,
        preview: '.img-preview',
        cropBoxResizable: false,
        dragMode: 'move',
        build: function () {
          //console.log('build');
        },
        built: function () {
          //console.log('built');
        },
        cropstart: function (data) {
          //console.log('cropstart', data.action);
        },
        cropmove: function (data) {
          //console.log('cropmove', data.action);
        },
        cropend: function (data) {
          //console.log('cropend', data.action);
        },
        crop: function (data) {
          //console.log('crop');
          dataX.value = Math.round(data.x);
          dataY.value = Math.round(data.y);
          dataHeight.value = Math.round(data.height);
          dataWidth.value = Math.round(data.width);
          dataRotate.value = !isUndefined(data.rotate) ? data.rotate : '';
          dataScaleX.value = !isUndefined(data.scaleX) ? data.scaleX : '';
          dataScaleY.value = !isUndefined(data.scaleY) ? data.scaleY : '';
        },
        zoom: function (data) {
          //console.log('zoom', data.ratio);
        }
      };
      var cropper = new Cropper(image, options);


      function isUndefined(obj) {
        return typeof obj === 'undefined';
      }

      function preventDefault(e) {
        if (e) {
          if (e.preventDefault) {
            e.preventDefault();
          } else {
            e.returnValue = false;
          }
        }
      }


      // Tooltip
      $('[data-toggle="tooltip"]').tooltip();


      // Buttons
      if (!document.createElement('canvas').getContext) {
        $('button[data-method="getCroppedCanvas"]').prop('disabled', true);
      }

      if (typeof document.createElement('cropper').style.transition === 'undefined') {
        $('button[data-method="rotate"]').prop('disabled', true);
        $('button[data-method="scale"]').prop('disabled', true);
      }

      // Download
      //if (typeof download.download === 'undefined') {
      //  download.className += ' disabled';
      //}


      // Options
      actions.querySelector('.docs-toggles').onclick = function (event) {
        var e = event || window.event;
        var target = e.target || e.srcElement;
        var cropBoxData;
        var canvasData;
        var isCheckbox;
        var isRadio;

        if (!cropper) {
          return;
        }

        if (target.tagName.toLowerCase() === 'span') {
          target = target.parentNode;
        }

        if (target.tagName.toLowerCase() === 'label') {
          target = target.getElementsByTagName('input').item(0);
        }

        isCheckbox = target.type === 'checkbox';
        isRadio = target.type === 'radio';

        if (isCheckbox || isRadio) {
          if (isCheckbox) {
            options[target.name] = target.checked;
            cropBoxData = cropper.getCropBoxData();
            canvasData = cropper.getCanvasData();

            options.built = function () {
              console.log('built');
              cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
            };
          } else {
            options[target.name] = target.value;
            options.built = function () {
              console.log('built');
            };
          }

          // Restart
          cropper.destroy();
          cropper = new Cropper(image, options);
        }
      };


      // Methods
      actions.querySelector('.docs-buttons').onclick = function (event) {
        var e = event || window.event;
        var target = e.target || e.srcElement;
        var result;
        var input;
        var data;

        if (!cropper) {
          return;
        }

        while (target !== this) {
          if (target.getAttribute('data-method')) {
            break;
          }

          target = target.parentNode;
        }

        if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
          return;
        }

        data = {
          method: target.getAttribute('data-method'),
          target: target.getAttribute('data-target'),
          option: target.getAttribute('data-option'),
          secondOption: target.getAttribute('data-second-option')
        };


        if (data.method) {
          if (typeof data.target !== 'undefined') {
            input = document.querySelector(data.target);

            if (!target.hasAttribute('data-option') && data.target && input) {
              try {
                data.option = JSON.parse(input.value);
              } catch (e) {
                console.log(e.message);
              }
            }
          }

          if (data.method === 'getCroppedCanvas') {
            data.option = JSON.parse(data.option);
          }

          result = cropper[data.method](data.option, data.secondOption);

          switch (data.method) {
            case 'scaleX':
            case 'scaleY':
              target.setAttribute('data-option', -data.option);
              break;

            case 'getCroppedCanvas':
              if (result) {

                angular.element(document.getElementById('profilePictureControllerID')).scope().uploadLogoPicture(result);

                // Bootstrap's Modal
                //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                if (!download.disabled) {
                  download.href = result.toDataURL();
                }
              }

              break;

            case 'destroy':
              cropper = null;
              break;
          }

          if (typeof result === 'object' && result !== cropper && input) {
            try {
              input.value = JSON.stringify(result);
            } catch (e) {
              console.log(e.message);
            }
          }

        }
      };

      document.body.onkeydown = function (event) {
        var e = event || window.event;

        if (!cropper || this.scrollTop > 300) {
          return;
        }

        switch (e.keyCode) {
          case 37:
            preventDefault(e);
            cropper.move(-1, 0);
            break;

          case 38:
            preventDefault(e);
            cropper.move(0, -1);
            break;

          case 39:
            preventDefault(e);
            cropper.move(1, 0);
            break;

          case 40:
            preventDefault(e);
            cropper.move(0, 1);
            break;
        }
      };


      // Import image
      var inputImage = document.getElementById('inputImage');
      var URL = window.URL || window.webkitURL;
      var blobURL;

      if (URL) {
        inputImage.onchange = function () {
          var files = this.files;
          var file;

          if (cropper && files && files.length) {
            file = files[0];

            if (/^image\/\w+/.test(file.type)) {
              blobURL = URL.createObjectURL(file);
              cropper.reset().replace(blobURL);
              inputImage.value = null;
            } else {
              window.alert('Please choose an image file.');
            }
          }
        };
      } else {
        inputImage.disabled = true;
        inputImage.parentNode.className += ' disabled';
      }

    }


  </script>
</section>
