<section ng-controller="EditProfileController">

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 translate>HEADLINE-ACCOUNT-AREA</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="dashboard" translate>BREADCRUMB-HOME</a>
        </li>
        <li>
          <span ng-bind="authentication.user.displayName"></span>
        </li>
        <li class="active">
          <strong translate>HEADLINE-SUB-EDIT-PROFILE</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <form name="profileForm" class="form-horizontal" ng-submit="updateProfileDetails(profileForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div ng-show="error" class="alert alert-danger">
              <p ng-bind="error"></p>
            </div>
            <div ng-show="success" class="alert alert-success">
              <p ng-bind="success"></p>
            </div>
            <div class="ibox-title">
              <h5 translate>HEADLINE-SUB-COMPANY-DETAILS</h5>
              <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
              <div>
                <p class="" translate>
                  NOTE-PROVIDE-COMPANY-DETAILS
                </p>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-COMPANY-NAME</label>*
                <div class="col-sm-8">
                  <input type="text" ng-bind="user.displayName" ng-model="user.displayName" id="displayName" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.displayName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-COMPANY-NAME-REQ</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-FIRST-NAME</label>*
                <div class="col-sm-8">
                  <input type="text" ng-bind="user.firstName" ng-model="user.firstName" id="firstName" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.firstName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-FIRST-NAME-REQ</p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-LAST-NAME</label>*
                <div class="col-sm-8"><input ng-bind="user.lastName" ng-model="user.lastName" id="lastName" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.lastName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-LAST-NAME-REQ</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-STREET</label>*
                <div class="col-sm-8"><input ng-bind="user.street" ng-model="user.street" id="street" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.street.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-STREET-REQ</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-STREET-NO</label>*
                <div class="col-sm-8"><input ng-bind="user.streetno" ng-model="user.streetno" id="streetno" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.streetno.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-STREET-NO-REQ</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-ZIP-CODE</label>*
                <div class="col-sm-8"><input ng-bind="user.zipcode" ng-model="user.zipcode" id="zipcode" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.zipcode.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-ZIP-CODE-REQ</p>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" translate>LABEL-CITY</label>*
                <div class="col-sm-8"><input ng-model="user.city" ng-model="user.city" id="city" class="form-control" placeholder="" required></div>
                <div ng-messages="profileForm.city.$error" role="alert">
                  <p class="help-block error-text" ng-message="required" translate>VALIDATION-CITY-REQ</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div align="right">
              <a ng-hide="basicData" ui-sref="tutorial" class="btn btn-w-m btn-warning btn-outline" translate>BUTTON-BACK-TUTORIAL</a>
              <button type="submit" class="btn btn-w-m btn-warning" translate>BUTTON-UPDATE-PROFILE-DATA</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
</section>
