<section ng-controller="EditProfileController" id="EditProfileControllerID">

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="h3">
      <span><span ng-bind="authentication.user.displayName"></span> /
        <span>
          <strong translate>HEADLINE-SUB-SUBSCRIPTION</strong>
        </span>
      </span>
    </div>
  </div>


  <form name="profileForm" class="form-horizontal" ng-submit="updateProfileDetails(profileForm.$valid)">

    <div class="row">
      <div class="wrapper wrapper-content">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div ng-show="error" class="alert alert-danger">
              <p ng-bind="error"></p>
            </div>
            <div ng-show="success" class="alert alert-success">
              <p ng-bind="success"></p>
            </div>

            <div class="ibox-content">
              <div class="x_panel" style="height:600px;">
                <div class="x_title">
                  <h2></h2>
                </div>

                <div class="x_content">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="jumbotron">
                        <h1 translate>HEADLINE-SUB-YOUR-SUBSCRIPTION</h1>
                        <p translate>TEXT-YOUR-SUBSCRIPTION</p>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <!-- price element -->
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="pricing ui-ribbon-container">
                          <div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon-yourplan" ng-show="yourPlanFree" translate>
                              LABEL-YOUR-SUBSCRIPTION
                            </div>
                          </div>
                          <div class="titleselected">
                            <h2> </h2>
                            <h1 translate>LABEL-FREE-SUBSCRIPTION</h1>

                          </div>
                          <div class="x_content">
                            <div class="">
                              <div class="pricing_features">
                                <ul class="list-unstyled text-left">
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-FIVE-PRODUCTS </span><strong> <span translate>LABEL-TO-SELL</span></strong></li>
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-ALL-AVAILABLE </span><strong> <span translate>LABEL-SALES-CHANNELS</span></strong> </li>
                                </ul>
                              </div>
                            </div>
                            <div class="pricing_footer">

                              <a ng-show="upgradeSubscriptionFree" class="btn btn-default btn-block" disabled translate>BUTTON-RETURN-FREE-SUBSCRIPTION</a>
                              <button ng-click="cancelStripeSubscriptionBasic()" ng-hide="upgradeSubscriptionFree" class="btn btn-warning btn-block" translate>BUTTON-RETURN-FREE-SUBSCRIPTION</button>

                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- price element -->



                      <!-- price element -->
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="pricing ui-ribbon-container">
                          <div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon-yourplan" ng-show="yourPlanBasic" translate>
                              LABEL-YOUR-SUBSCRIPTION
                            </div>
                          </div>
                          <div class="title">
                            <h2 translate>LABEL-SUBSCRIPTION-BASIC</h2>
                            <h1>19 €</h1>
                            <span translate>LABEL-SUBSCRIPTION-MONTHLY</span>
                          </div>
                          <div class="x_content">
                            <div class="">
                              <div class="pricing_features">
                                <ul class="list-unstyled text-left">
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-TEN-PRODUCTS </span><strong> <span translate>LABEL-TO-SELL</span></strong></li>
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-ALL-AVAILABLE </span><strong> <span translate>LABEL-SALES-CHANNELS</span></strong> </li>
                                </ul>
                              </div>
                            </div>
                            <div class="pricing_footer">

                              <a ng-show="upgradeSubscriptionBasicDefault" class="btn btn-default btn-block" disabled translate>BUTTON-UPGRADE-SUBSCRIPTION</a>
                              <button id="customButtonBasic" ng-show="upgradeSubscriptionBasic" class="btn btn-warning btn-block" translate>BUTTON-UPGRADE-SUBSCRIPTION</button>
                              <button ng-show="downgradeSubscriptionBasic" ng-click="createStripeSubscriptionBasic('mmbasic','','')" class="btn btn-warning btn-block" translate>BUTTON-DOWNGRADE-SUBSCRIPTION</button>

                              <script>
                                var handlerBasic = StripeCheckout.configure({
                                  key: 'pk_test_ddjMazisTUr7jFeihO8C4s7L',
                                  image: '/modules/core/client/img/brand/favicon.ico',
                                  locale: 'auto',
                                  billingAddress: true,
                                  token: function(token) {
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`
                                    angular.element(document.getElementById('EditProfileControllerID')).scope().createStripeSubscriptionBasic('mmbasic',token.id,token.email);
                                  }
                                });

                                $('#customButtonBasic').on('click', function(e) {
                                  // Open Checkout with further options
                                  handlerBasic.open({
                                    name: 'mightymerce',
                                    description: 'Upgrade to Basic subscription',
                                    currency: "eur",
                                    amount: 1900
                                  });
                                  e.preventDefault();
                                });

                                // Close Checkout on page navigation
                                $(window).on('popstate', function() {
                                  handlerBasic.close();
                                });
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- price element -->

                      <!-- price element -->
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="pricing ui-ribbon-container">
                          <div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon-yourplan" ng-show="yourPlanProfessional" translate>
                              LABEL-YOUR-SUBSCRIPTION
                            </div>
                            <div class="ui-ribbon" ng-show="favouritePlan" translate>
                              LABEL-MOST-POPULAR
                            </div>
                          </div>
                          <div class="title">
                            <h2 translate>LABEL-SUBSCRIPTION-PROFESSIONAL</h2>
                            <h1>69 €</h1>
                            <span translate>LABEL-SUBSCRIPTION-MONTHLY</span>
                          </div>
                          <div class="x_content">
                            <div class="">
                              <div class="pricing_features">
                                <ul class="list-unstyled text-left">
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-HUNDRED-PRODUCTS </span><strong> <span translate>LABEL-TO-SELL</span></strong></li>
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-ALL-AVAILABLE </span><strong> <span translate>LABEL-SALES-CHANNELS</span></strong> </li>
                                </ul>
                              </div>
                            </div>
                            <div class="pricing_footer">

                              <a ng-show="upgradeSubscriptionProfessionalDefault" class="btn btn-default btn-block" disabled translate>BUTTON-UPGRADE-SUBSCRIPTION</a>
                              <button id="customButtonProfessional" ng-show="upgradeSubscriptionProfessional" class="btn btn-warning btn-block" translate>BUTTON-UPGRADE-SUBSCRIPTION</button>
                              <button ng-show="downgradeSubscriptionProfessional" ng-click="createStripeSubscriptionBasic('mmprofessional','','')" class="btn btn-warning btn-block" translate>BUTTON-DOWNGRADE-SUBSCRIPTION</button>
                              <button ng-show="upgradeExistingSubscriptionProfessional" ng-click="createStripeSubscriptionBasic('mmprofessional','','')" class="btn btn-warning btn-block" translate>BUTTON-UPGRADE-SUBSCRIPTION</button>
                              <script>
                                var handlerProfessional = StripeCheckout.configure({
                                  key: 'pk_test_ddjMazisTUr7jFeihO8C4s7L',
                                  image: '/modules/core/client/img/brand/favicon.ico',
                                  locale: 'auto',
                                  billingAddress: true,
                                  token: function(token) {
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`
                                    angular.element(document.getElementById('EditProfileControllerID')).scope().createStripeSubscriptionBasic('mmprofessional',token.id,token.email);
                                  }
                                });

                                $('#customButtonProfessional').on('click', function(e) {
                                  // Open Checkout with further options
                                  handlerProfessional.open({
                                    name: 'mightymerce',
                                    description: 'Upgrade to Professional subscription',
                                    currency: "eur",
                                    amount: 6900
                                  });
                                  e.preventDefault();
                                });

                                // Close Checkout on page navigation
                                $(window).on('popstate', function() {
                                  handlerProfessional.close();
                                });
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- price element -->

                      <!-- price element -->
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="pricing ui-ribbon-container">
                          <div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon-yourplan" ng-show="yourPlanUnlimited" translate>
                              LABEL-YOUR-SUBSCRIPTION
                            </div>
                          </div>
                          <div class="title">
                            <h2 translate>LABEL-SUBSCRIPTION-UNLIMITED</h2>
                            <h1>159 €</h1>
                            <span translate>LABEL-SUBSCRIPTION-MONTHLY</span>
                          </div>
                          <div class="x_content">
                            <div class="">
                              <div class="pricing_features">
                                <ul class="list-unstyled text-left">
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-UNLIMITED-PRODUCTS </span><strong> <span translate>LABEL-TO-SELL</span></strong></li>
                                  <li><i class="fa fa-check text-success"></i> <span translate>LABEL-ALL-AVAILABLE </span><strong> <span translate>LABEL-SALES-CHANNELS</span></strong> </li>
                                </ul>
                              </div>
                            </div>
                            <div class="pricing_footer">

                              <a ng-show="upgradeSubscriptionUnlimitedDefault" class="btn btn-default btn-block" disabled translate>BUTTON-UPGRADE-SUBSCRIPTION</a>
                              <button id="customButtonUnlimited" ng-show="upgradeSubscriptionUnlimited" class="btn btn-warning btn-block" translate>BUTTON-UPGRADE-SUBSCRIPTION</button>
                              <button ng-show="upgradeExistingSubscriptionUnlimited" ng-click="createStripeSubscriptionBasic('mmunlimited','','')" class="btn btn-warning btn-block"translate>BUTTON-UPGRADE-SUBSCRIPTION</button>

                              <script>
                                var handlerUnlimited = StripeCheckout.configure({
                                  key: 'pk_test_ddjMazisTUr7jFeihO8C4s7L',
                                  image: '/modules/core/client/img/brand/favicon.ico',
                                  locale: 'auto',
                                  billingAddress: true,
                                  token: function(token) {
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`
                                    angular.element(document.getElementById('EditProfileControllerID')).scope().createStripeSubscriptionBasic('mmunlimited',token.id,token.email);
                                  }
                                });

                                $('#customButtonUnlimited').on('click', function(e) {
                                  // Open Checkout with further options
                                  handlerUnlimited.open({
                                    name: 'mightymerce',
                                    description: 'Upgrade to Unlimited subscription',
                                    currency: "eur",
                                    amount: 15900
                                  });
                                  e.preventDefault();
                                });

                                // Close Checkout on page navigation
                                $(window).on('popstate', function() {
                                  handlerUnlimited.close();
                                });
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- price element -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </form>
  <div class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>

</section>
