<div ng-controller="AuthenticationController">
  <div class="top-content">
    <div class="bodylogin">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1 class="h1-login"><strong>Mightymerce Registrierung</strong> </h1>
            <div class="description">
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h2>Verkaufe deine Produkte ganz einfach über die sozialen Kanäle und Marktplätze. Und das alles über eine zentrale Stelle. Ganz einfach. Versprochen. </h2>
                <h3></h3>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form name="userForm" ng-submit="signup(userForm.$valid)" novalidate autocomplete="off" class="registration-form">
                <fieldset>
                  <div class="form-group" show-errors>
                    <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Email" lowercase required>
                    <div ng-messages="userForm.username.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Eingabe Email notwendig.</p>
                    </div>
                  </div>
                  <div ng-show="false" class="form-group" show-errors>
                    <input type="text" name="email" placeholder="Email" class="form-email form-control" id="email" ng-model="credentials.email" lowercase>
                    <div ng-messages="userForm.email.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Eingabe Email notwendig.</p>
                      <p class="help-block error-text" ng-message="email">Eingabe Email ungültig.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                    <div ng-messages="userForm.password.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Eingabe Password wird benötigt.</p>
                      <div ng-repeat="passwordError in passwordErrors">
                        <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-show="!userForm.password.$error.required">
                    <label>Password Vorraussetzungen</label>
                    <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                  </div>
                  <div class="text-center form-group">
                    <button type="submit" class="btn buttonlogin">Sign up</button>
                    &nbsp; or&nbsp;
                    <a class="a-login" ui-sref="home">Sign in</a>
                  </div>
                  <br>
                  <div ng-show="error" class="alert alert-danger">
                    <p ng-bind="error"></p>
                  </div>
                  <div ng-show="success" class="alert alert-success">
                    <p ng-bind="success"></p>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
