<section class="row ng-scope">
<div ng-controller="AuthenticationController">
    <div class="bodylogin">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text">
            <h1 class="h1-login">mightymerce Login</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
              <div class="form-top-center">
                <div class="col-sm-5">
                  <a href="#" class="navbar-brand"><img alt="mightymerce.com - social commerce" class="" src="/modules/core/client/img/brand/mm_logo_grey_high.png"/></a>
                </div>
                <div class="col-sm-7">
                  <h2>Willkommen zurück! Log dich ein und sieh nach deinen Produkten, Posts und Bestellungen. </h2>
                </div>
              </div>
            </div>
            <div class="form-bottom">
              <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
                <fieldset>
                  <div class="form-group" show-errors>
                    <label class="sr-only" for="username" translate>LABEL-EMAIL</label>
                    <input type="text" name="username" ng-model="credentials.username" placeholder="{{'PLACEHOLDER-LABEL-EMAIL' | translate}}" class="form-username form-control" id="username" lowercase required>
                  </div>
                  <div class="form-group" show-errors>
                    <label class="sr-only" for="password">LABEL-PASSWORD</label>
                    <input type="password" name="password" ng-model="credentials.password" placeholder="{{'PLACEHOLDER-LABEL-PASSWORD' | translate}}" class="form-password form-control" id="password" required>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn buttonlogin" translate>BUTTON-TEXT-SIGNIN</button>
                    <br>
                  </div>
                  <br>
                  <div class="text-center forgot-password">
                    <a class="a-login" ui-sref="authentication.signup" translate>BUTTON-TEXT-SIGNUP</a> or <a class="a-login" ui-sref="password.forgot" translate>BUTTON-TEXT-FORGOTPWD</a>
                  </div>
                  <br>
                  <div ng-show="error" class="alert alert-danger">
                    <p ng-bind="error"></p>
                  </div>
                  <div ng-show="success" class="alert alert-success">
                    <p ng-bind="success"></p>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>

</div>
</section>
